/* ============= MEDIA QUERIES ============= */

/*FOOTER*/
@media (max-width: 1650px) {
  img#imgAppStore {
    width: 130px;
  }
  
  img#imgGooglePlay {
    height: 38px;
    width: 130px;
  }
}

/*------*/

@media (max-width: 1460px) {
  .logo {
    width: 200px;
  }

  .header {
    padding: 15px 6%;
  }

  .filter-container {
    padding: 2.5% 6%;
  }

  .main {
    padding: 0 6%;
    padding-top: 2.5%;
  }
}

/*HEADER*/

@media (max-width: 1440px) {
  .aboutUsImgs {
    display: flex;
    flex-direction: column;
  }

  img#imgAppStore {
    margin-top: 5px;
  }
  
  img#imgGooglePlay {
    margin-top: 5px;
  }

  .contactInfos img {
    width: 180px;
  }
}

/*------*/


@media (max-width: 1350px) {
  .header {
    padding: 15px 5%;
  }

  .filter-container {
    padding: 2.5% 5%;
  }

  .main {
    padding: 0 5%;
    padding-top: 2.5%;
  }
}

@media (max-width: 1350px) {
  .logo {
    width: 180px;
  }

  .search-input {
    padding: 1.4rem 1.4rem;
  }

  .btn-search {
    padding: 1em 1.5em;
  }
}

/*HEADER*/
@media (max-width: 1300px) {
  .logo {
    width: 180px;
  }

  .search-input {
    padding: 1.4rem 1.4rem;
  }

  .btn-search {
    padding: 1em 1.5em;
  }
}
/*----*/

@media (max-width: 1290px) {
  .header {
    padding: 10px 1%;
  }

  .logo {
    max-height: 45px;
  }

  .search-input {
    padding: 1.4rem 1.4rem;
  }

  .btn-search {
    padding: 1em 1.5em;
  }

  .filter-container {
    padding: 2.5% 1%;
  }

  .main {
    padding: 0 1%;
    padding-top: 2.5%;
  }
}

/*HEADER*/

/* user-options passa a ser dropdown escondido no icone de usuario */
@media (max-width: 1235px) {
  .header {
    position: relative;
  }

  .user-options {
    position: absolute;
    bottom: -25px;
    right: 30px;

    padding: 5px 5px;
    border-radius: 5px;

    background-color: #1560A0;
  }
}
/*------*/

/* inputs passar a ser escondidos */
@media (max-width: 1220px) {
  .user-container .header-icon {
    cursor: pointer;
  }

  .mag-glass-icon {
    margin-right: 10px;
    display: none;
  }
}

@media (max-width: 1190px) {
  .btn-search {
    padding: 1em 1.2em;
    margin: 0 5px;

    font-size: 1.2rem;
  }

  .search-form .radio-label {
    font-size: 1.2rem;
  }

  .user-container .user-auth-button {
    font-size: 1.2rem;
  }
  
  .user-container p {
    font-size: 1.2rem;
  }

  .filter-container {
    padding: 2.5% 1%;
  }

  .main {
    padding: 0 1%;
    padding-top: 2.5%;
  }

  /* ============= DOCTOR CARD INFO ============= */

  .doctor-image {
    width: 130px;
  }
  
  .doctor-name {
    font-size: 2rem;
  }
  
  .doctor-specialties {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  
  .rating-counter {
    font-size: 1.1rem;
  }

  /* ============= DOCTOR CARD ADDRESS ============= */

  .address-title-btn {
    font-size: 1.4rem;
    padding: 0.5em 0;
  }

  .address-info span{
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  /* ============= DOCTOR SCHEDULE ============= */

  .doctor-schedule-grid {
    gap: 1rem;
    padding-bottom: 1.5rem;
  }

  .day-title-weekday {
    font-size: 1.3rem;
  }

  .day-title-date {
    font-size: 1.1rem;
  }

  .time-available {
    margin-top: 1rem;
    padding: 0.8rem;
    font-size: 1.3rem;
  }

  .time-unavailable-container {
    padding: 1.5rem;
    margin-top: 1rem;
  }

  .open-schedule-container {
    padding-top: 1.2rem;
  }

  .open-schedule-btn {
    font-size: 1.3rem;
  }
}

/*FOOTER*/
@media (max-width: 1150px) {
  footer div.footer-options{
    gap: 10px;
    padding-left: 10%;
  }

  .contactInfos img {
    width: 170px;
  }
}
/*------*/

@media (max-width: 1100px) {
  .header {
    padding: 10px 6%;
  }

  .logo {
    width: 150px;
  }
  
  .search-input {
    padding: 12px;
  }

  .radio-input-container {
    min-width: 80px;
  }

  .mag-glass-icon {
    margin-right: 10px;
    display: inline;
  }
  
  .user-container p {
    font-size: 1.2rem;
  }

  .user-container .user-auth-button {
    font-size: 1.2rem;
  }

  .doctor-cards-section {
    max-width: 70%;
  }

  img.doctor-image {
    width: 120px;
  }

  .doctor-rating i {
    width: 20px;
  }

  .btn-search {
    font-size: 1.2rem;
  }

  .doctor-schedule-container {
    padding: 15px;
  }

  .doctor-schedule-grid {
    gap: 0.5rem
  }

  .day-title-container {
    text-align: center;
  }

  .day-title-weekday {
    font-size: 1.1rem;
  }

  .day-title-date {
    font-size: 0.9rem;
  }

  button.time-available {
    font-size: 1.1rem;
  }

  .search-form .radio-label {
    font-size: 1.2rem;
  }
}

/*HEADER*/
/* search-form passa a ser dropdown escondido no icone de pesquisa */
@media (max-width: 1000px) {
  .search-form {
    position: absolute;
    bottom: -50px;

    min-width: 650px;
    left: 50%;
    transform: translate(-50%);

    padding: 8px 0px;
    border-radius: 5px;

    background-color: #1560A0;
  }
}

@media (max-width: 800px) {
  .logo {
    width: 120px;
  }
}
/*------*/