/* ============= MEDIA QUERIES ============= */

/*FOOTER*/
@media (max-width: 1650px) {
  img#imgAppStore {
    width: 130px;
  }
  
  img#imgGooglePlay {
    height: 38px;
    width: 130px;
  }
}

/* ==== HEADER ==== */
@media (max-width: 1520px) {
  .search-input {
    font-size: 1.3rem;
  }  
}

@media (max-width: 1475px) {
  .search-input {
    font-size: 1.2rem;
  }  
}
/* ======== */

/*------*/

@media (max-width: 1460px) {
  .logo {
    width: 200px;
  }

  .header {
    padding: 15px 6%;
  }

  .filter-container {
    padding: 2.5% 6%;
  }

  .main {
    padding: 0 6%;
    padding-top: 2.5%;
  }
}

/*HEADER*/

@media (max-width: 1440px) {
  .aboutUsImgs {
    display: flex;
    flex-direction: column;
  }

  img#imgAppStore {
    margin-top: 5px;
  }
  
  img#imgGooglePlay {
    margin-top: 5px;
  }

  .contactInfos img {
    width: 180px;
  }
}

/*------*/

@media (max-width: 1350px) {
  .filter-container {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  .main {
    padding-top: 2.5%;
  }

  /* ==== HEADER ==== */
  .search-input {
    font-size: 1.2rem;
  }
}

/*HEADER*/
@media (max-width: 1300px) {
  .logo {
    width: 180px;
  }

  .search-input {
    padding: 1.4rem 1.4rem;
  }

  .btn-search {
    padding: 1em 1.5em;
  }
}
/*----*/

@media (max-width: 1250px) {
  body {
    --fs-22: 2.1rem;
    --fs-16: 1.5rem;
  }

  .doctor-image {
    width: 130px;
  }

  /* ============= DOCTOR CARD ADDRESS ============= */

  .address-title-btn {
    padding: 0.6em 0;
  }

  .address-info span{
    line-height: 1.5rem;
  }

  /* ============= DOCTOR SCHEDULE ============= */

  .doctor-schedule-grid {
    gap: 1rem;
    padding-bottom: 1.5rem;
  }

  .time-available {
    margin-top: 1rem;
    padding: 0.8rem;
  }

  .time-unavailable-container {
    padding: 1.5rem;
    margin-top: 1rem;
  }

  .open-schedule-container {
    padding-top: 1.2rem;
  }
}

/*HEADER*/

/* user-options passa a ser dropdown escondido no icone de usuario */
@media (max-width: 1235px) {
  .header {
    position: relative;
  }

  .user-options {
    position: absolute;
    bottom: -25px;
    right: 30px;

    padding: 5px 5px;
    border-radius: 5px;

    background-color: #1560A0;
  }
}
/*------*/

@media (max-width: 1190px) {
  /* ============= DOCTOR CARD INFO ============= */
  body {
    --fs-22: 2rem;
    --fs-16: 1.4rem;
    --fs-14: 1.3rem;
    --fs-13: 1.2rem;
    --fs-12: 1.1rem;
  }

  .doctor-image {
    width: 105px;
  }
  
  .doctor-specialties {
    line-height: 1.5rem;
  }

  /* ============= DOCTOR CARD ADDRESS ============= */

  .address-title-btn {
    padding: 0.5em 0;
  }

  .address-info span{
    line-height: 1.5rem;
  }

  /* ============= DOCTOR SCHEDULE ============= */

  .doctor-schedule-grid {
    gap: 0.8rem;
    padding-bottom: 1.5rem;
  }
}

/*FOOTER*/
@media (max-width: 1150px) {
  footer div.footer-options{
    gap: 10px;
    padding-left: 7%;
  }

  .contactInfos img {
    width: 170px;
  }
}
/*------*/

@media (max-width: 1100px) {
  /* ====== HEADER ====== */
  .header {
    padding: 10px 6%;
  }
  
  .logo {
    width: 150px;
  }
  
  .search-input {
    padding: 12px;
  }

  .radio-input-container {
    min-width: 80px;
  }
  
  .user-container p {
    font-size: 1.2rem;
  }
  
  .user-container .user-auth-button {
    font-size: 1.2rem;
  }
  
  .btn-search {
    font-size: 1.2rem;
  }
  
  .search-form .radio-label {
    font-size: 1.2rem;
  }
  
  /* ====== MAIN ====== */
  body {
    --fs-14: 1.1rem;
    --fs-12: 0.9rem;
  }

  .doctor-cards-section {
    max-width: 70%;
  }
  
  img.doctor-image {
    width: 100px;
  }

  .doctor-rating i {
    width: 20px;
  }

  .doctor-schedule-container {
    padding: 15px 10px;
  }

  .doctor-schedule-grid {
    gap: 0.5rem
  }

  .day-title-container {
    text-align: center;
  }
}

@media (max-width: 1040px) {
  body {
    --fs-15: 1.3rem
  }

  .filter-form-input {
    padding: 0.8rem 0.8rem;
  }
  
  .filter-form-btn {
    padding: 0.6em 3em;
  }

  .main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .doctor-cards-section {
    align-items: center;
  }

  .doctor-card-container {
    min-width: 650px;
    margin-bottom: 30px;
    justify-content: center;
  }

  .map-container { 
    margin-left: 0;
    margin-bottom: 30px;
    padding: 120px;
    height: 80vh;
    min-width: 650px;
    max-width: 70vw;
  }
}

/*HEADER*/
/* search-form passa a ser dropdown escondido no icone de pesquisa */
@media (max-width: 1000px) {
  .search-form {
    position: absolute;
    bottom: -50px;

    min-width: 650px;
    left: 50%;
    transform: translate(-50%);

    padding: 8px 0px;
    border-radius: 5px;

    background-color: #1560A0;
  }
}

@media (max-width: 800px) {
  /* === HEADER === */
  .logo {
    width: 120px;
  }

  .btn-search, .search-form .radio-label {
    font-size: 1.1rem;
  }

  input[type="radio"] {
    height: 10px;
    width: 10px;
    background-color: #eee;
  }

  .filter-form {
    flex-wrap: wrap;
  }

  .search-input {
    padding: 10px;
    font-size: 1.2rem;
  }

  .search-icon {
    height: 20px;
    width: 20px;
  }

  .person-icon {
    height: 20px;
    width: 20px;
  }

  .user-container .user-auth-button {
    font-size: 1.1rem;
  }
}
/*------*/

@media (max-width: 740px) {
  .map-container { 
    padding: 120px;
    height: 80vh;
    min-width: 0px;
    max-width: 100vw;
  }

  .doctor-card-container {
    flex-direction: column;
    min-width: 400px;
  }

  .doctor-schedule-container {
    border-top: solid 1px #D6D6D6;
    border-left: none;
  }
}

@media (max-width: 700px) {
  /* === Header === */
  .search-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: column;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
    bottom: -90px;

    min-width: 500px;
  }

  .radio-input-container {
    align-items: center;
  }

  /* ============== */

  footer div.footer-options {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .listTitle {
    margin-bottom: 5px;
  }

  .aboutUs {
    row-gap: 35px;
  }

  .aboutUsImgs {
    display: inline;
  }

  img#imgAppStore {
    margin-top: 0;
  }
  
  img#imgGooglePlay {
    margin-top: 0;
  }
}

@media (max-width: 620px) {
  .filter-form {
    flex-direction: column;
    gap: 10px;
  }

  .filter-form-input {
    width: 100%;
  }

  body {
    --fs-40: 2.5rem;
    --fs-38: 2.4rem;
    --fs-28: 2.2rem;
    --fs-22: 2.2rem;
    --fs-21: 1.3rem;
    --fs-18: 1.4rem;
    --fs-17: 2.2rem;
    --fs-16: 1.4rem;
    --fs-15: 1.3rem;
    --fs-14: 1.2rem;
    --fs-12: 1.2rem;
  }
}

@media (max-width: 550px) {
  .search-form {
    min-width: 350px;
  }
}

@media (max-width: 490px) {
  footer div.footer-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 20px;
  }

  .listTitle {
    font-size: 1.6rem;
    display: block;
  }

  footer p.mb-30 {
    margin-bottom: 0px;
    row-gap: 20px;
  }

  .pacientOptions, .specialistOptions, .aboutUs, .contactInfos {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  body {
    --fs-17: 2rem;
    --fs-15: 1.2rem;
    --fs-12: 1.1rem;
  }
}

@media (max-width: 450px) {
  .map-container { 
    padding: 100px;
  }

  .main {
    margin-bottom: 50px;
  }

  .text-filtered-by {
    margin-bottom: 20px;
  }

  .doctor-info {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .doctor-rating {
    justify-content: center;
  }

  .doctor-image-container {
    margin: 0;
  }

  .rating-counter {
    margin-left: 5px;
  }

  .rating-star, .rating-star-empty {
    width: 18px;
  }

  .doctor-card-container {
    min-width: 0px;
    width: 320px;
  }

  .address-title {
    gap: 5px;
  }

  .address-title-btn {
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .search-form {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    min-width: 300px;
    bottom: -170px;
  }

  .radio-input-container {
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 360px) {
  .map-container { 
    padding: 80px;
  }

  .time-available {
    padding: 6px;
  }

  .time-unavailable-container {
    padding: 12px;
  }

  .arrow-icon {
    margin: 0;
    margin-top: 5px;
  }

  .fa-chevron-left {
    margin-right: 5px;
    margin-left: 5px;
  }

  .fa-chevron-right {
    margin-right: 5px;
    margin-left: 5px;
  }

  .doctor-card-container {
    width: 280px;
  }

  .doctor-schedule-grid {
    gap: 3px;
  }

  .doctor-schedule-container {
    padding: 15px 0;
  }
}

@media (max-width: 340px) {
  footer div.footer-options {
    font-size: 1.2rem;
  }
  
  .listTitle {
    font-size: 1.4rem;
  }

  img#imgAppStore {
    width: 110px;
  }
  
  img#imgGooglePlay {
    height: 32px;
    width: 110px;
  }

  .contactInfos img {
    width: 150px;
  }
  /*PADRONIZANDO*/
  .title-filter-by, .filter-form-btn{
    font-size: 12px;
  }
}