/* ============= HEADER ============= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 10.5%;

  background-color: #1560A0;
  color: #FFF;
}

.search-form {
  display: flex;
  justify-content: space-evenly;

  min-width: 65%;

  min-height: 3rem;
}

.search-input {
  border: none;
  border-radius: 10px;
  
  width: 28%;
  max-height: 5rem;

  font-size: 1.4rem;
  padding: 0 2rem;
  margin: 0 0.2rem;
}

.search-form .radio-label {
  font-size: 1.5rem;
}

.radio-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
}

.btn-search {
  border: none;
  border-radius: 10px;

  font-size: 1.6rem;
  font-weight: bold;

  padding: 1em 3em;

  cursor: pointer;
  color: #FFF;
  background-color: #9BD30F;
}

.user-container {
  display: flex;
  align-items: center;
}

.user-container .user-auth-button {
  text-decoration: none;
  color: #FFF;
  font-size: 1.4rem;
}

.user-container p {
  font-size: 1.4rem;
  margin: 0 0.5rem
}

/* ============= FILTRO ============= */

.filter-container {
  padding: 2.5% 10.5%;

  background-color: #E2E2E2;
}

.text-filtered-by {
  font-size: 1.7rem;
  color: #525252;
  font-weight: 500;
  margin-bottom: 2.5%;
}

.filter-form {
  display: flex;
}

.title-filter-by {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
  display: inline-block;
  margin-bottom: 0.6rem;
}

.filter-form-input {
  border: none;
  border-radius: 1rem;

  width: 25vw;
  margin-right: 1.5rem;

  padding: 1.5rem 1rem;
  font-size: 1.4rem;
}

.dropdown-input::-webkit-calendar-picker-indicator {
  color: transparent;
  background-image: url("./img/arrow_forward_ios_black_24dp.svg");
}

.filter-form-btn {
  font-size: 1.5rem;
  padding: 0.8em 3.3em;

  cursor: pointer;
  color: #525252;
  background-color: transparent;
  border: solid 0.2rem #707070;
  border-radius: 1rem;
}

/* ============= MAIN ============= */

.main {
  display: flex;

  padding: 2.5% 10.5%;
}

/* ============= CARDS SECTION ============= */

.doctor-cards-section {
  width: 59.5%;

  display: flex;
}

/* ============= DOCTOR CARD ============= */

.doctor-card-container {
  border-top: solid 1px #D6D6D6;
  border-left: solid 1px #D6D6D6;
  border-bottom: solid 1px #D6D6D6;
  border-radius: 5px 0 0 5px;
  padding: 2rem;
}

/* ============= DOCTOR CARD INFO ============= */

.doctor-info {
  display: flex;
}

.doctor-image {
  margin-right: 2rem;
}

.doctor-name {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.doctor-specialties {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #848484;
}

.doctor-rating {
  display: flex;
  align-items: flex-end;
  margin-top: 5%;
}

.rating-counter {
  font-size: 1.2rem;
  font-weight: 500;
  color: #7B7B7B;
  margin-left: 2rem;
}

/* ============= DOCTOR CARD ADDRESS ============= */

.doctor-address {
  margin-top: 2rem;
}

.address-title {
  margin-bottom: 1.5rem;
  display: flex;
}

.address-title-btn {
  cursor: pointer;
  border: none;
  border-bottom: solid 2px #CBCBCB;
  color: #CBCBCB;
  background-color: transparent;
  
  font-size: 1.6rem;
  text-align: left;
  width: 100%;
  padding: 0.7em 0;
  margin-right: 1.5em;
}

.btn-on {
  border-bottom: solid 2px #2B8E91;
  color: #2B8E91;
}

.address-info span{
  display: block;
  font-size: 1.3rem;
  color: #525252;
  line-height: 1.8rem;
}

/* ============= DOCTOR SCHEDULE ============= */

.doctor-schedule-container {
  border-left: solid 1px #EDEDED;
  border-top: solid 1px #D6D6D6;
  border-right: solid 1px #D6D6D6;
  border-bottom: solid 1px #D6D6D6;
  border-radius: 0 5px 5px 0;

  padding: 2rem 2rem;
}

.schedule-grid-container {
  display: flex;
  justify-content: space-between;
}

.doctor-schedule-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  padding-bottom: 2.5rem;
  border-bottom: solid 1px #E8E8E8;
}

.day-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-title-weekday {
  font-size: 1.4rem;
  font-weight: 500;
}

.day-title-date {
  font-size: 1.2rem;
  font-weight: 500;
}

.time-available {
  border: none;
  color: #16688D;
  background-color: #B5DAEB;
  cursor: pointer;
  
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.time-unavailable-container {
  display: block;
  padding: 1.7rem;
  margin-top: 1.5rem;
}

.time-unavailable {
  border: solid 1px #A7A7A7;
  width: 100%;
}

.arrow-icon {
  align-self: flex-start;
  margin-top: 1rem;
}

.open-schedule-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.6rem;
  cursor: pointer;
}

.open-schedule-btn {
  background-color: transparent;
  border: none;

  color: #16688D;
  text-decoration: underline;

  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
}