/* ============= MEDIA QUERIES ============= */

/*FOOTER*/
@media (max-width: 1650px) {
    img#imgAppStore {
      width: 130px;
    }
    
    img#imgGooglePlay {
      height: 38px;
      width: 130px;
    }
}
/*--*/
@media (max-width: 1600px) {
    img.img-attendant{
        width: 400px;
        height: 338px;
    }

    .text-content-container {
        margin: 7% 5% 7% 0;
    }
}

/*HEADER*/

@media (max-width: 1520px) {
  .search-input {
    font-size: 1.3rem;
  }  
}

@media (max-width: 1475px) {
  .search-input {
    font-size: 1.2rem;
  }  
}

@media (max-width: 1460px) {
    .logo {
      width: 200px;
    }
  
    .header {
      padding: 15px 6%;
    }
  }
/*----*/

@media (max-width: 1440px) {
    section.ask-form-container{
        padding-top: 10%;
        padding-bottom: 5%;
    }

   img.img-attendant{
       width: 375px;
   }
   /*FOOTER*/
   .aboutUsImgs {
        display: flex;
        flex-direction: column;
    }

  img#imgAppStore {
    margin-top: 5px;
  }
  
  img#imgGooglePlay {
    margin-top: 5px;
  }

  .contactInfos img {
    width: 180px;
  }
  /*-----*/
}

@media (max-width: 1366px) {
    body {
        --fs-35: 3rem;
        --fs-20: 1.8rem;
        --fs-15: 1.4rem;
    }

    img.img-attendant{
        width: 338px;
        height: 338px;
    };

}

/*HEADER*/
@media (max-width: 1350px){
  .search-input {
    font-size: 1.2rem;
  }
}

@media (max-width: 1300px) {
    .logo {
      width: 180px;
    }
  
    .search-input {
      padding: 1.4rem 1.4rem;
    }
  
    .btn-search {
      padding: 1em 1.5em;
    }
  }
/*-----*/
/*HEADER*/
/* user-options passa a ser dropdown escondido no icone de usuario */
@media (max-width: 1235px) {
    .header {
      position: relative;
    }
  
    .user-options {
      position: absolute;
      bottom: -25px;
      right: 30px;
  
      padding: 5px 5px;
      border-radius: 5px;
  
      background-color: #1560A0;
    }
  }
/*-----*/
@media (max-width: 1200px) {
    img.img-attendant{
        width: 300px;
        height: 300px;
        margin-top: 25px;
    }
}

/*FOOTER*/
@media (max-width: 1150px) {
    footer div.footer-options{
      gap: 10px;
      padding-left: 7%;
    }
  
    .contactInfos img {
      width: 170px;
    }
}
/*------*/

@media (max-width: 1140px) {
    body {
        --fs-16: 1.4rem;
    }

    .costumer-service-input {
        padding: 10px 5px;
    }

    img.img-attendant{
        width: 285px;
        height: 285px;
        margin-top: 10px;
    }

    .text-content-container {
        margin: 4% 3% 4% 0;
    }
}

@media (max-width: 1100px) {
    body {
        --fs-35: 28px
    }

    .left-container {
        padding-left: 8%;
    }

    .left-main-content{
      margin-top: 15%;
    }

    img.img-attendant{
        width: 250px;
        height: 250px;
        margin-top: 10px;
    }

    .costumer-service-input {
        padding: 7px 5px;
    }

    /*HEADER*/
    .header {
      padding: 10px 6%;
    }
  
    .logo {
      width: 150px;
    }
    
    .search-input {
      padding: 12px;
    }
  
    .radio-input-container {
      min-width: 80px;
    }
  
    .user-container p {
      font-size: 1.2rem;
    }
  
    .user-container .user-auth-button {
      font-size: 1.2rem;
    }
  
    .btn-search {
      font-size: 1.2rem;
    }
  
    .search-form .radio-label {
      font-size: 1.2rem;
    }
}
      
/* search-form passa a ser dropdown escondido no icone de pesquisa */
@media (max-width: 1000px) {
    .search-form {
      position: absolute;
      bottom: -50px;
  
      min-width: 650px;
      left: 50%;
      transform: translate(-50%);
  
      padding: 8px 0px;
      border-radius: 5px;
  
      background-color: #1560A0;
    }

    body{
      --fs-15: 1.3rem;
      --fs-16: 1.4rem;
      --fs-20: 1.6rem;
      --fs-35: 2.6rem;
    }
    .costumer-service-btn {
      margin: auto;
    }

    .left-container {
      padding-top: 22px;
      padding-left: 6%;
    }

    .right-container {
      padding-right: 6%;
    }
}

@media only screen and (max-width: 801px){
  /* === HEADER === */
  .logo {
    width: 120px;
  }

  .btn-search, .search-form .radio-label {
    font-size: 1.1rem;
  }

  input[type="radio"] {
    height: 10px;
    width: 10px;
    background-color: #eee;
  }

  .search-input {
    padding: 10px;
    font-size: 1.2rem;
  }

  .search-icon {
    height: 20px;
    width: 20px;
  }

  .person-icon {
    height: 20px;
    width: 20px;
  }

  .user-container .user-auth-button {
    font-size: 1.1rem;
  }

  /* ==== FOOTERS ==== */
  .logo {
    width: 120px;
  }
  /*----*/

  .left-main-content{
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
  }
   
  .left-container {
    padding-left: 6%;
    max-width: 420px;
  }
  .right-container {
    padding-right: 6%;
  }

  .checkbox-container {
    justify-content: flex-start;
  }

  img.img-attendant{
    width: 280px;
    height: 280px;
  }

  .text-content {
    margin-bottom: 15px;
  }

  body{
    --fs-14: 1.3rem;
    --fs-15: 1.4rem;
    --fs-16: 1.4rem;
    --fs-20: 1.8rem;
    --fs-35: 2.4rem;
  }
}

@media only screen and (max-width: 769px){
  .main{
    display: grid;
  }
  .ask-info-container {
    max-width: 100%;
  }
  .ask-info-title {
    text-align: center;
  }
  img#doctors {
    margin-top: 0;
  }
  .info-text-subtitle {
    margin-top: 0;
  }
  .page-identifier-container {
    margin-top: 40px;
  }
}

@media (max-width: 700px) {
  /*==== Header ====*/
  .search-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: column;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
    bottom: -90px;

    min-width: 500px;
  }

  .radio-input-container {
    align-items: center;
  }

  /*==== FOOTER ====*/

  footer div.footer-options {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .listTitle {
    margin-bottom: 5px;
  }

  .aboutUs {
    row-gap: 35px;
  }

  .aboutUsImgs {
    display: inline;
  }

  img#imgAppStore {
    margin-top: 0;
  }
  
  img#imgGooglePlay {
    margin-top: 0;
  }
  /*-------------*/
}

@media only screen and (max-width: 601px){
  .left-main-content{
    flex-direction: column;
    margin-top: 2%;
    text-align: center;
  }
  .left-container{
    max-width: 100%;
    padding: 2% 6% 0 6%;
  }
  .right-container{
    width: 100%;
  }
  .costumer-service-form{
    margin-top: 5%;
  }
  .right-container {
    padding: 2% 6% 4% 6%;
  }
  .page-title {
    text-align: center;
  }

  body {
    --fs-35: 2.4rem;
    --fs-20: 2rem;
    --fs-16: 1.3rem;
    --fs-14: 1.2rem;
  }
  .costumer-service-btn{
    margin: auto;
  }
  .checkbox-container {
    justify-content: flex-start;
  }
}
@media (max-width: 550px) {
  .search-form {
    min-width: 350px;
  }

  .left-main-content {
    text-align: center;
  }

  .text-content {
    margin-bottom: 15px;
  }
}

@media (max-width: 490px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 20px;
  }

  .listTitle {
    font-size: 1.6rem;
    display: block;
  }

  footer p.mb-30 {
    margin-bottom: 0px;
    row-gap: 20px;
  }

  .pacientOptions, .specialistOptions, .aboutUs, .contactInfos {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  /*-------------*/
}

@media only screen and (max-width: 480px){
    .main-info-image{
        text-align: center;
    }
    .main-info-container{
        display: grid;
        padding-bottom: 5%;
    }
    .info-text-subtitle {
        margin-top: 12%;
        margin-bottom: 2%;
    }
    .info-text-container {
        margin-left: 0;
    }
    img#doctors {
        width: 340px;
    }
    .page-title{
      text-align: center;
    }
    body {
      --fs-35: 2.4rem;
      --fs-14: 1.1rem;
      --fs-16: 1.2rem;
  }
  .checkbox-container {
    justify-content: flex-start;
  }
  .costumer-service-btn{
    margin: auto;
  }
}

@media (max-width: 390px) {
  .search-form {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    min-width: 300px;
    bottom: -170px;
  }

  .radio-input-container {
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 340px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    font-size: 1.2rem;
  }
  
  .listTitle {
    font-size: 1.4rem;
  }

  img#imgAppStore {
    width: 110px;
  }
  
  img#imgGooglePlay {
    height: 32px;
    width: 110px;
  }

  .contactInfos img {
    width: 150px;
  }
  /*-------------*/
}

@media only screen and (max-width: 321px){
  img.img-attendant {
    width: 240px;
    height: 240px;
  } 
  .text-content{
    font-size: 12px;
  }
  .text-content-title{
    font-size: 14px;
  }
  .text-content-container{
    gap: 10px;
  }
  .costumer-service-btn{
    margin: auto;
  }
  .page-title{
    text-align: center;
  }
  /*PADRONIZANDO*/
  .page-title{
    font-size: 22px;
  }
  .text-content-title{
    font-size: 16px;
  }
  .form-label, .checkbox-text{
    font-size: 12px;
  }

  .checkbox-container{
    justify-content: flex-start;
  }

  .costumer-service-input{
    font-size: 10px;
  }
  .page-identifier{
    font-size: 10px;
  }
}

@media only screen and (max-width: 320px){
    img#doctors{
        width: 261px;
    }
}