/* ============= HEADER ============= */
/* ============= HEADER ============= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px 10.5%;

  background-color: #1560A0;
  color: #FFF;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  margin: 0 10px;
}

.search-input {
  border: none;
  border-radius: 10px;
  flex: 1;

  font-size: 1.4rem;
  padding: 1.6rem 2rem;
  margin: 0 8px;
}

.search-form .radio-label {
  font-size: 1.5rem;
}

.radio-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 100px;
}

.btn-search {
  border: none;
  border-radius: 10px;

  font-size: 1.4rem;
  font-weight: bold;

  padding: 1em 2em;
  margin: 0 10px;

  cursor: pointer;
  color: #FFF;
  background-color: #9BD30F;
}

.user-container {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 25px;
  height: 25px;
  color: #FFF;

  margin: 0 5px;
  
  cursor: pointer;
}

.person-icon {
  width: 25px;
  height: 25px;
  color: #FFF;

  margin: 0 5px;

  cursor: pointer;
}

.user-options {
  display: flex;
  align-items: center;
}

.user-container .user-auth-button {
  text-decoration: none;
  color: #FFF;
  font-size: 1.4rem;
}

.user-container p {
  font-size: 1.4rem;
  margin: 0 0.5rem
}

.dont-show {
  display: none;
}
/* ============= MAIN ============= */

.main {
  display: flex;
}

.left-container {
  padding: 2% 0;
  padding-left: 10.5%;

  max-width: 56%;

  background-color: #F4F4F4;
}

.right-container {
  padding: 2% 0;
  padding-left: 4%;
  padding-right: 10.5%;
  flex: 1;

  display: flex;
  justify-self: flex-end;
}

/* Indicador da pagina (topo à esquerda) */

.page-identifier {
  font-size: var(--fs-14);
  color: #8D8D8D;
}

.page-title {
  font-size: var(--fs-35);
  margin-top: 5%;
}

.left-main-content {
  margin-top: 5%;

  display: flex;
}

.text-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 10% 7% 10% 2%;
}

.text-content-title {
  color: #2B8E91;
  font-size: var(--fs-20);
}

.text-content {
  color: #525252;
  font-size: var(--fs-15);
}

/* Formulário à direita */

.costumer-service-form {
  margin-top: 12%;

  display: flex;
  flex: 1;
  flex-direction: column;
}

.costumer-service-input {
  border: #525252 solid 1px;
  border-radius: 6px;

  font-size: var(--fs-14);
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
}

.form-label {
  font-size: var(--fs-16);
  margin-bottom: 1rem;
}

.checkbox-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 2rem;
}

.checkbox {
  margin-right: 5px;
}

.checkbox-text {
  font-size: var(--fs-16);
}

.costumer-service-btn {
  border: none;
  border-radius: 1rem;

  font-size: var(--fs-16);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-self: flex-end;

  padding: 1em 1.5em;

  cursor: pointer;
  color: #FFF;
  background-color: #2B8E91;
}

/* ============= FOOTER ============= */
.footer-options {
  background-color: #525252;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 13.5%;
  padding-right: 7%;
  line-height: 25px;
  font-size: 15px;
  width: 100%;
}

footer {
  width: 100%;
}

div.copyright {
  background-color: #363636;
  color: #ADADAD;
  font-size: 14px;
  padding: 16px;
  text-align: center;
}

p {
  color: #ffffff;
}

footer p.listTitle {
  font-weight: bold;
}

footer p.mb-30 {
  margin-bottom: 30px;
}

footer a {
  text-decoration: none;
  color:#ffffff;
  display: block;
}

.contactInfos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactInfos img {
  width: 200px;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a#seeAll {
  color: #86B9FF;
  font-style: italic;
}
img#imgGooglePlay {
  height: 46px;
  width: 156px;
}
