/* ============= MEDIA QUERIES ============= */

@media (max-width: 1650px) {
    img#imgAppStore {
        width: 130px;
    }

    img#imgGooglePlay {
        height: 38px;
        width: 130px;
    }
}

@media (max-width: 1550px){
    .main-info-image{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    #doctors{
        width: 400px;
    }
}

@media (max-width: 1480px) {
    /* ====== HEADER ======*/

    .logo {
        width: 200px;
    }
    
    .header {
        padding: 15px 6%;
    }

    .ask-info-container {
        padding: 2.2% 1.5% 2.2% 6%;
    }

    .ask-form-container {
        padding-right: 6%;
    }

    /*-------*/
    
}

@media (max-width: 1440px) {
    section.ask-form-container{
        padding-top: 10%;
        padding-bottom: 5%;
    }

    img#doctors{
        width: 400px;
    }

   /* ====== FOOTER ====== */

   .aboutUsImgs {
        display: flex;
        flex-direction: column;
    }

    img#imgAppStore {
        margin-top: 5px;
    }

    img#imgGooglePlay {
        margin-top: 5px;
    }

    .contactInfos img {
        width: 180px;
    }
}

@media (max-width: 1300px) {
    .logo {
        width: 180px;
    }
    
    .search-input {
        padding: 1.4rem 1.4rem;
    }

    .btn-search {
        padding: 1em 1.5em;
    }
}

@media (max-width: 1235px) {
    .header {
        position: relative;
    }
    
    .user-options {
        position: absolute;
        bottom: -25px;
        right: 30px;
    
        padding: 5px 5px;
        border-radius: 5px;
        
        background-color: #1560A0;
    }
}

@media (max-width: 1140px) {
    img#doctors{
        width: 300px;
        margin-top: 50px;
    }

    /* ====== FOOTER ====== */

    footer div.options {
        gap: 10px;
        padding-left: 10%;
    }

    .contactInfos img {
        width: 170px;
    }
}


@media (max-width: 1024px) {
    img#doctors{
        width: 265px;
        margin-top: 80px;
    }
}

@media (max-width: 1100px) {
    .header {
        padding: 10px 6%;
    }

    .logo {
        width: 150px;
    }
      
    .search-input {
        padding: 12px;
        font-size: 1.2rem;
    }
    
    .radio-input-container {
        min-width: 80px;
    }
      
    .user-container p {
        font-size: 1.2rem;
    }

    .user-container .user-auth-button {
        font-size: 1.2rem;
    }

    .btn-search {
        font-size: 1.2rem;
    }

    .search-form .radio-label {
        font-size: 1.2rem;
    }
}

@media (max-width: 1000px) {
    .search-form {
        position: absolute;
        bottom: -50px;
    
        min-width: 650px;
        left: 50%;
        transform: translate(-50%);
    
        padding: 8px 0px;
        border-radius: 5px;
    
        background-color: #1560A0;
    }
}

@media (max-width: 800px) {
    .logo {
        width: 120px;
    }
}

/* Responsivo Mobile */

@media only screen and (max-width: 769px){
    .main{
        display: grid;
    }
    .ask-info-container {
        max-width: 100%;
    }
    .ask-info-title {
        text-align: center;
    }
    img#doctors {
        margin-top: 0;
    }
    .info-text-subtitle {
        margin-top: 0;
    }
    .page-identifier-container {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 480px){
    .main-info-image{
        text-align: center;
    }
    .main-info-container{
        display: grid;
        padding-bottom: 5%;
    }
    .info-text-subtitle {
        margin-top: 12%;
        margin-bottom: 2%;
    }
    .info-text-container {
        margin-left: 0;
    }
    img#doctors {
        width: 340px;
    }
}