<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Augusto Araujo, Wesley Ferreira, Rodrigo Geraldes" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Links para a fonte-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="./style.css" />
        <link rel="stylesheet" type="text/css" href="../../global.css" />
    </head>
    <body>
        <footer>
            <div class="options">
                <div class="pacientOptions">
                    <p class="listTitle mb-30">Pacientes</p>
                    <a href="#">Especialistas</a>
                    <a href="#">Clínicas e Hospitais</a>
                    <a href="#">Pergunte ao especialista</a>
                    <a href="#">Medicamentos</a>
                    <a href="#">Serviços</a>
                    <a href="#">Perguntas frequentes</a>
                    <a href="#">Aplicações móveis</a>
                    <a href="#">Diagnósticos por imagem</a>
                </div>
                <div class="specialistOptions">
                    <p class="listTitle mb-30">Especialistas da saúde</p>
                    <a href="#">Ginecologista</a>
                    <a href="#">Psiquiatria</a>
                    <a href="#">Clínico Geral</a>
                    <a href="#">Endoscopista</a>
                    <a href="#">Oftalmologista</a>
                    <a href="#">Dentista</a>
                    <a href="#">Cirurgião</a>
                    <a href="#" id="seeAll">+ Veja todos</a>
                </div>
                <div class="aboutUs">
                    <div>
                        <p class="listTitle mb-30">Sobre nós</p>
                        <a href="#">Quem somos</a>
                        <a href="#">Privacidade e Cookies</a>
                        <a href="#">Termos e condições</a>
                    </div>
                    <div>
                        <p class="listTitle">Baixe o app</p>
                        <img src="img/DownloadAppStore.png" alt="Download via AppStore"/>
                        <img src="img/DownloadGooglePlay.png" alt="Dowload via GooglePlay" id="imgGooglePlay">
                    </div>
                </div>
                <div class="contactInfos">
                    <img src="img/Logo_footer.svg" alt="Logo tagendado">
                    <div>
                        <p>Telefone</p>
                        <p>+55 (11) 98273-1096</p>
                    </div>
                    <div>
                        <p>Email:</p>
                        <p>contato@tagendado.com</p>
                    </div>
                    <div>
                        <p>Endereço</p>
                        <p>Av. Paulista, 1765 - Sala 27 - Bela Vista</p>
                        <p>São Paulo/SP - CEP 01311-200</p>                
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Tagendado © 2021 - Todos os direitos reservados</p>
            </div>
        </footer>
    </body>
</html>