@media (max-width: 1880px){
  img#responsiveImage{
    width: 650px;
  }
  section#scheduling{
    margin-bottom: 5%;
  }
  section#benefits{
    padding-top: 4%;
    padding-bottom: 2%;
  }
  div#responsiveWebsite{
    padding-top: 7%;
  }
}

@media (max-width: 1660px){
  body {
    --fs-41: 3.9rem;
    --fs-40: 3.9rem;
    --fs-26: 2.5rem;
    --fs-23: 2.2rem;
    --fs-22: 2.1rem;
    --fs-19: 1.8rem;
    --fs-18: 1.7rem;
    --fs-16: 1.5rem;
    --fs-14: 1.3rem;
  }

  img#responsiveImage{
    width: 650px;
  }

  section#scheduling{
    margin-bottom: 5%;
  }

  section#benefits{
    padding-top: 4%;
    padding-bottom: 2%;
  }

  div#marketingRight{
    display: flex;
    align-items: center;
  }

  img#fluxImg{
    height: 500px;
  }

  /* ====== Footer ====== */

  img#imgAppStore {
    width: 130px;
  }
  
  img#imgGooglePlay {
    height: 38px;
    width: 130px;
  }
}

@media (max-width: 1600px) {
  header {
    --fs-15: 1.4rem;
  }

  header {
    padding: 15px 3% 15px 3%;
  }

  .logotype img {
    width: 230px;
  }
}

@media (max-width: 1440px) {
  body {
    --fs-41: 3.8rem;
    --fs-40: 3.8rem;
    --fs-26: 2.5rem;
    --fs-23: 2.1rem;
    --fs-22: 2rem;
    --fs-19: 1.7rem;
    --fs-18: 1.6rem;
    --fs-16: 1.5rem;
    --fs-14: 1.3rem;
  }
  
  img#responsiveImage {
    margin-top: 10%;
    width: 500px;
  }

  div#marketingRight{
    display: flex;
    align-items: center;
  }
  
  img#fluxImg{
    height: 400px;
  }

  img#medicalImg{
    width: 800px;
  }

  div#freeRegisterRight{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  #freeMedical{
    width: 450px;
  }

  /* ====== Footer ====== */

  .aboutUsImgs {
    display: flex;
    flex-direction: column;
  }

  img#imgAppStore {
    margin-top: 5px;
  }
  
  img#imgGooglePlay {
    margin-top: 5px;
  }

  .contactInfos img {
    width: 180px;
  }
}

@media (max-width: 1370px) {
  header {
    --fs-15: 1.3rem;
  }

  header {
    padding: 10px 3% 10px 3%;
  }

  .logotype img {
    width: 200px;
  }

  body {
    --fs-41: 3.5rem;
    --fs-40: 3.5rem;
    --fs-26: 2.4rem;
    --fs-23: 2rem;
    --fs-22: 1.8rem;
    --fs-19: 1.6rem;
    --fs-18: 1.6rem;
    --fs-16: 1.4rem;
    --fs-14: 1.2rem;
  }

  div#responsiveWebsite{
    padding-top: 5%;
  }
  section#scheduling{
    margin-bottom: 0%;
  }
  
  .costumer-service-form {
    margin-top: 8%;
  }

  div#benefitsContainer{
    gap: 25px;
  }
}

@media (max-width: 1200px){
  header .header-options {
    font-size: 1.2rem;
  }

  .logotype img {
    width: 170px;
  }

  div#marketingLeft{
    width: 100%;
  }

  body {
    --fs-41: 3.3rem;
    --fs-40: 3.3rem;
    --fs-35: 2.8rem;
    --fs-23: 1.9rem;
    --fs-22: 1.9rem;
    --fs-20: 1.8rem;
    --fs-19: 1.6rem;
    --fs-18: 1.6rem;
    --fs-16: 1.4rem;
    --fs-14: 1.3rem;
  }

  img#responsiveImage{
    width: 420px;
    margin-top: 12%;
  }

  div#responsiveWebsite{
    padding-top: 5%;
    padding-left: 15%;
  }

  section#scheduling{
    margin-bottom: 0%;
    height: 550px;
  }

  img#fluxImg{
    margin-left: 10px;
    height: 340px;
  }

  div#marketingRight{
    display: flex;
    align-items: center;
  }

  p#WinWinSituationTitle{
    padding-top: 10px;
  }

  img#medicalImg{
    width: 60vw;
  }

  #freeMedical{
    width: 450px;
  }

  div#freeRegisterRight{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .costumer-service-form {
    margin-top: 8%;
  }
  div#benefitsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
  }
  .benefitsContainerItem {
    width: 30%;
  }

  /* ====== FOOTER ====== */

  footer div.footer-options {
    gap: 10px;
    padding-left: 7%;
  }

  .contactInfos img {
    width: 170px;
  }
}

@media (max-width: 1100px) {
  .logotype img {
    width: 150px;
  }
}

@media (max-width: 1024px){
  p#WinWinSituationSubtitle{
    margin-bottom: 3%;
  }
  ul#WinWinSituationList{
    line-height: 25px;
  }
  div#WinWinSituationRight{
    justify-content: flex-start;
  }
}

@media (max-width: 1000px) {
  #nav-drawer {
    display: inline;
  }

  header .header-options {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #1560A0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    display: inline-block;
    text-align: right;
  }
  
  header .header-options a {
    padding: 10px 0;
    text-decoration: none;
    transition: 0.3s;
    display: block;
    color: #FFF;
  }
  
  header .header-options .closebtn {
    display: inline;
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 26px;
    margin-right: 0px;
    margin-left: 15px;
  }
}

@media (max-width: 800px){
  img#responsiveImage {
    width: 325px;
    margin-top: 20%;
  }
  div#benefitsContainer {
    padding-left: 5%;
    padding-right: 5%;
  }
  section#marketing{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  div#marketingRight {
    justify-content: center;
    padding-right: 0;
  }
  div#marketingLeft {
    margin-top: 5%;
    padding: 0 10%;
  }
  #freeMedical {
    width: 375px;
  }
  img#medicalImg {
    width: 55vw;
    height: 100%;
  }
  p#WinWinSituationTitle{
    font-size: 24px;
  }
  p#WinWinSituationSubtitle {
    font-size: 16px;
  }
  ul#WinWinSituationList{
    font-size: 12px;
    line-height: 22px;
  }
}

@media (max-width: 700px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .listTitle {
    margin-bottom: 5px;
  }

  .aboutUs {
    row-gap: 35px;
  }

  .aboutUsImgs {
    display: inline;
  }

  img#imgAppStore {
    margin-top: 0;
  }
  
  img#imgGooglePlay {
    margin-top: 0;
  }
  /*-------------*/
}

@media (max-width: 600px) {
  .logotype img {
    width: 130px;
  }
}

@media (max-width: 490px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 20px;
  }

  .listTitle {
    font-size: 1.6rem;
    display: block;
  }

  footer p.mb-30 {
    margin-bottom: 0px;
    row-gap: 20px;
  }

  .pacientOptions, .specialistOptions, .aboutUs, .contactInfos {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  /*-------------*/
}

@media (max-width: 480px) {
  .logotype img {
    width: 115px;
  }

  #nav-drawer {
    font-size: 2rem;
  }

  header .header-options {
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  header .header-options {
    font-size: 1.3rem;
    text-align: center;
  }
}

@media (max-width: 340px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    font-size: 1.2rem;
  }
  
  .listTitle {
    font-size: 1.4rem;
  }

  img#imgAppStore {
    width: 110px;
  }
  
  img#imgGooglePlay {
    height: 32px;
    width: 110px;
  }

  .contactInfos img {
    width: 150px;
  }
  /*-------------*/
}

/*  font-size: 62.5%;
  --fs-41: 4.1rem;
  --fs-40: 4rem;
  --fs-39: 3.9rem;
  --fs-38: 3.8rem;
  --fs-35: 3.5rem;
  --fs-30: 3rem;
  --fs-28: 2.8rem;
  --fs-26: 2.6rem;
  --fs-24: 2.4rem;
  --fs-23: 2.3rem;
  --fs-22: 2.2rem;
  --fs-21: 2.1rem;
  --fs-20: 2rem;
  --fs-19: 1.9rem;
  --fs-18: 1.8rem;
  --fs-17: 1.7rem;
  --fs-16: 1.6rem;
  --fs-15: 1.5rem;
  --fs-14: 1.4rem;
  --fs-13: 1.3rem;
  --fs-12: 1.2rem;*/