@media (max-width: 1880px){
  img#responsiveImage{
    width: 650px;
  }

  section#benefits{
    padding-top: 4%;
    padding-bottom: 3%;
  }
}

@media (max-width: 1660px){
  body {
    --fs-41: 3.9rem;
    --fs-40: 3.9rem;
    --fs-26: 2.5rem;
    --fs-23: 2.2rem;
    --fs-22: 2.1rem;
    --fs-19: 1.8rem;
    --fs-18: 1.7rem;
    --fs-16: 1.5rem;
    --fs-14: 1.3rem;
  }

  div#marketingRight{
    display: flex;
    align-items: center;
  }

  img#fluxImg{
    height: 500px;
  }

  /* ====== Footer ====== */

  img#imgAppStore {
    width: 130px;
  }
  
  img#imgGooglePlay {
    height: 38px;
    width: 130px;
  }
}

@media (max-width: 1600px) {
  header {
    --fs-15: 1.4rem;
  }

  header {
    padding: 15px 3% 15px 3%;
  }

  .logotype img {
    width: 230px;
  }
}

@media (max-width: 1440px) {
  body {
    --fs-41: 3.8rem;
    --fs-40: 3.8rem;
    --fs-26: 2.5rem;
    --fs-23: 2.1rem;
    --fs-22: 2rem;
    --fs-19: 1.7rem;
    --fs-18: 1.6rem;
    --fs-16: 1.5rem;
    --fs-14: 1.3rem;
  }
  
  img#responsiveImage {
    width: 500px;
  }

  div#marketingRight{
    display: flex;
    align-items: center;
  }
  
  img#fluxImg{
    height: 400px;
  }

  img#medicalImg{
    width: 800px;
  }

  div#freeRegisterRight{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  #freeMedical{
    width: 450px;
  }

  /* ====== Footer ====== */

  .aboutUsImgs {
    display: flex;
    flex-direction: column;
  }

  img#imgAppStore {
    margin-top: 5px;
  }
  
  img#imgGooglePlay {
    margin-top: 5px;
  }

  .contactInfos img {
    width: 180px;
  }
}

@media (max-width: 1370px) {
  header {
    --fs-15: 1.3rem;
  }

  header {
    padding: 10px 3% 10px 3%;
  }

  .logotype img {
    width: 200px;
  }

  body {
    --fs-41: 3.5rem;
    --fs-40: 3.5rem;
    --fs-26: 2.4rem;
    --fs-23: 2rem;
    --fs-22: 1.8rem;
    --fs-19: 1.6rem;
    --fs-18: 1.6rem;
    --fs-16: 1.4rem;
    --fs-14: 1.2rem;
  }
  
  .costumer-service-form {
    margin-top: 8%;
  }

  div#benefitsContainer{
    gap: 25px;
  }

  div#freeRegisterContent {
    padding: 0 10.5%;
  }
}

@media (max-width: 1200px){
  header .header-options {
    font-size: 1.2rem;
  }

  .logotype img {
    width: 170px;
  }

  div#marketingLeft{
    width: 100%;
  }

  /* Body */

  body {
    --fs-41: 3.3rem;
    --fs-40: 3.3rem;
    --fs-35: 2.8rem;
    --fs-23: 1.9rem;
    --fs-22: 1.9rem;
    --fs-20: 1.8rem;
    --fs-19: 1.6rem;
    --fs-18: 1.6rem;
    --fs-16: 1.4rem;
    --fs-14: 1.3rem;
  }

  img#responsiveImage{
    width: 420px;
  }

  img#fluxImg{
    margin-left: 10px;
    height: 340px;
  }

  div#marketingRight{
    display: flex;
    align-items: center;
  }

  p#WinWinSituationTitle{
    padding-top: 10px;
  }

  img#medicalImg{
    width: 60vw;
  }

  #freeMedical{
    width: 450px;
  }

  div#freeRegisterRight{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .costumer-service-form {
    margin-top: 8%;
  }
  div#benefitsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
  }
  .benefitsContainerItem {
    width: 30%;
  }

  div#freeRegisterContent{
    gap: 30px;
  }

  #freeMedical {
    width: 400px;
  }

  /* ====== FOOTER ====== */

  footer div.footer-options {
    gap: 10px;
    padding-left: 7%;
  }

  .contactInfos img {
    width: 170px;
  }
}

@media (max-width: 1100px) {
  .logotype img {
    width: 150px;
  }
}

@media (max-width: 1024px){
  p#WinWinSituationSubtitle{
    margin-bottom: 3%;
  }
  ul#WinWinSituationList{
    line-height: 25px;
  }
  div#WinWinSituationRight{
    justify-content: flex-start;
  }
}

@media (max-width: 1000px) {
  /* HEADER */
  #nav-drawer {
    display: inline;
  }

  header .header-options {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #1560A0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    display: inline-block;
    text-align: right;
  }
  
  header .header-options a {
    padding: 10px 0;
    text-decoration: none;
    transition: 0.3s;
    display: block;
    color: #FFF;
  }
  
  header .header-options .closebtn {
    display: inline;
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 26px;
    margin-right: 0px;
    margin-left: 15px;
  }

  /* BODY */
  body {
    --fs-41: 3rem
  }

  img#medicalImg {
    width: 50vw;
    height: 100%;
  }

  section#marketing {
    padding: 5% 7%;
  }

  div#benefitsContainer {
    padding-left: 7%;
    padding-right: 7%;
  }

  div#responsiveWebsite{
    padding-left: 10.5%;
    padding-right: 10.5%;
  }

  div#freeRegisterContent {
    margin-top: 3%;
  }

  #freeMedical {
    width: 375px;
  }

  .costumer-service-input {
    padding: 1rem 0.6rem;
  }
}

@media (max-width: 900px){
  body {
    --fs-40: 3rem;
    --fs-35: 2.7rem;
    --fs-30: 2.5rem;
    --fs-26: 2.1rem;
    --fs-22: 1.7rem;
    --fs-20: 1.6rem;
    --fs-19: 1.5rem;
    --fs-18: 1.4rem;
    --fs-16: 1.3rem;
    --fs-14: 1.2rem;
  }

  section#benefits {
    padding: 3% 0 3% 4%;
    gap: 30px;
  }

  #benefitsTitle {
    width: 70%;
  }
  p#benefitsSubtitle {
    width: 70%;
  }
  p#benefitsText {
    width: 70%;
  }

  img.allBenefitsImage{
    width: 120px;
  }

  .benefitsContainerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  div#freeRegisterContent {
    padding: 0 7%
  }

  .costumer-service-btn {
    padding: 0.8em 1em;
  }

  #DDD {
    width: 20%;
  }

  #freeMedical {
    width: 330px;
  }

  img#responsiveImage {
    width: 325px;
  }
  section#marketing{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  div#marketingRight {
    justify-content: center;
    padding-right: 0;
  }
  div#marketingLeft {
    margin-top: 5%;
    padding: 0 10%;
  }
  img#medicalImg {
    width: 55vw;
    height: 100%;
  }
  p#WinWinSituationTitle{
    font-size: 25px;
  }
  p#WinWinSituationSubtitle {
    font-size: 18px;
  }
  ul#WinWinSituationList{
    font-size: 15px;
    line-height: 22px;
  }
  body{
    --fs-14: 1.3rem;
    --fs-16: 1.5rem;
    --fs-18: 1.5rem;
    --fs-20: 1.5rem;
    --fs-22: 1.8rem;
    --fs-26: 2.2rem;
    --fs-30: 2.4rem;
    --fs-35: 2.4rem;
    --fs-40: 2.5rem;
    --fs-41: 2.4rem;
  }
}

@media (max-width: 750px) {
  #responsiveWebsite {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  
  .mobile-online {
    align-items: center;
    gap: 15px;
  }

  section#WinWinSituation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1560A0;
    padding: 0 7%;
  }
  
  #medicalImg {
    display: none;
  }

  #WinWinSituationRight {
    width: 100%;
    align-items: center;
  }

  ul#WinWinSituationList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 3% 0;
  }

  p#WinWinSituationTitle{
    color: #86B9FF;
    line-height: 30px;
  }

  p#WinWinSituationSubtitle {
    color: #86B9FF;
    line-height: 20px;
    margin-top: 15px;
  }

  li.listIcon{
    color: #86B9FF;
  }

  span.listText{
    color: #FFF
  }

  #freeRegisterContent {
    flex-direction: column-reverse;
  }

  .costumer-service-form {
    margin-top: 2%;
    width: 65vw;
  }
}

@media (max-width: 700px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .listTitle {
    margin-bottom: 5px;
  }

  .aboutUs {
    row-gap: 35px;
  }

  .aboutUsImgs {
    display: inline;
  }

  img#imgAppStore {
    margin-top: 0;
  }
  
  img#imgGooglePlay {
    margin-top: 0;
  }
  /*-------------*/
}

@media (max-width: 600px) {
  body {
    --fs-41: 2.5rem;
    --fs-40: 2.5rem;
    --fs-35: 2.3rem;
    --fs-30: 2.2rem;
    --fs-26: 2.2rem;
    --fs-22: 1.8rem;
    --fs-20: 1.5rem;
    --fs-19: 1.5rem;
    --fs-18: 1.5rem;
    --fs-13: 1.3rem;
    --fs-14: 1.2rem;
  }

  #benefitsTitle{
    line-height: 32px;
  }

  .logotype img {
    width: 130px;
  }

  #benefitsTitle {
    width: 100%;
    text-align: center;
  }
  section#benefits {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p#benefitsSubtitle{
    text-align: center;
    width: 100%;
  }
  p#benefitsText{
    text-align: center;
    width: 100%;
  }
  div#responsiveWebsite{
    text-align: center;
  }
  img#fluxImg{
    height: 300px;
    margin-left: 0;
  }
  p#WinWinSituationTitle {
    font-size: 24px;
    text-align: center;
  }
  #freeMedical {
    width: 270px;
  }
  div#freeRegisterLeft{
    width: 100%;
  }
  .costumer-service-form {
    width: 100%;
  }
  #DDD{
    width: 25% !important;
  }
}

@media (max-width: 490px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 20px;
  }

  .listTitle {
    font-size: 1.6rem;
    display: block;
  }

  footer p.mb-30 {
    margin-bottom: 0px;
    row-gap: 20px;
  }

  .pacientOptions, .specialistOptions, .aboutUs, .contactInfos {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  /*-------------*/
}

@media (max-width: 480px) {
  .logotype img {
    width: 115px;
  }

  #nav-drawer {
    font-size: 2rem;
  }

  header .header-options {
    font-size: 1.1rem;
  }

  /*---*/
  body {
    --fs-41: 2.4rem;
    --fs-40: 2.4rem;
    --fs-35: 2.4rem;
    --fs-30: 2.4rem;
    --fs-26: 2.0rem;
    --fs-22: 1.6rem;
    --fs-20: 1.4rem;
    --fs-19: 1.6rem;
    --fs-18: 1.4rem;
    --fs-16: 1.2rem;
  }

  img#responsiveImage {
    width: 290px;
  }

  img#fluxImg{
    height: 250px;
  }

  div#marketingLeft {
    padding: 0 20px;
  }

  p#marketingLeftTitle {
    line-height: 30px;
  }

  p#marketingLeftSubtitle {
    line-height: 20px;
  }

  p#WinWinSituationSubtitle {
    font-size: 16px;
  }

  ul#WinWinSituationList{
    font-size: 12px;
    line-height: 20px;
  }

  div#freeRegisterContent {
    gap: 20px;
  }

  section#scheduling {
    padding-left: 3%;
    padding-right: 3%;
  }

  div#benefitsContainer {
    padding-left: 3%;
    padding-right: 3%;
  }

  section#marketing {
    padding-left: 3%;
    padding-right: 3%;
  }

  section#WinWinSituation {
    padding-left: 5%;
    padding-right: 5%;
  }

  ul#WinWinSituationList {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  p#WinWinSituationSubtitle {
    text-align: center;
  }

  p#benefitsSubtitle{
    line-height: 28px;
  }
  p#benefitsText{
    line-height: 20px;
  }
  .benefitsContainerItem {
    width: 40%;
  }
  p#benefitsTitle {
    line-height: 30px;
  }
}

@media (max-width: 400px) {
  header .header-options {
    font-size: 1.3rem;
    text-align: center;
  }
}

@media (max-width: 340px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    font-size: 1.2rem;
  }
  
  .listTitle {
    font-size: 1.4rem;
  }

  img#imgAppStore {
    width: 110px;
  }
  
  img#imgGooglePlay {
    height: 32px;
    width: 110px;
  }

  .contactInfos img {
    width: 150px;
  }
  /*-------------*/
}

@media (max-width: 320px){
  body {
    --fs-41: 2.2rem;
    --fs-40: 2.2rem;
    --fs-35: 2.2rem;
    --fs-30: 2.2rem;
    --fs-26: 1.6rem;
    --fs-22: 1.2rem;
    --fs-20: 1.2rem;
    --fs-19: 1.2rem;
    --fs-18: 1.2rem;
    --fs-16: 1.2rem;
  }

  div.mobile-online {
    gap: 10px
  }

  section#benefits {
    gap: 20px;
  }

  .costumer-service-input {
    margin-bottom: 10px;
  }

  p#WinWinSituationTitle {
    font-size: 2.2rem;
  }
  p#WinWinSituationSubtitle {
    font-size: 1.5rem;
  }
  p#marketingLeftTitle{
    line-height: 30px;
  }
  img#fluxImg{
    height: 220px;
  }
  div#freeRegisterContent {
    display: flex;
    flex-direction: column-reverse;
  }
  div#freeRegisterLeft {
    padding-left: 0;
    padding-right: 0;
  }
  .benefitsContainerItem {
    width: 70%;
  }

  /*PADRONIZANDO*/
  p#responsiveWebsiteText{
    line-height: 18px;
  }
}

/*  font-size: 62.5%;
  --fs-41: 4.1rem;
  --fs-40: 4rem;
  --fs-39: 3.9rem;
  --fs-38: 3.8rem;
  --fs-35: 3.5rem;
  --fs-30: 3rem;
  --fs-28: 2.8rem;
  --fs-26: 2.6rem;
  --fs-24: 2.4rem;
  --fs-23: 2.3rem;
  --fs-22: 2.2rem;
  --fs-21: 2.1rem;
  --fs-20: 2rem;
  --fs-19: 1.9rem;
  --fs-18: 1.8rem;
  --fs-17: 1.7rem;
  --fs-16: 1.6rem;
  --fs-15: 1.5rem;
  --fs-14: 1.4rem;
  --fs-13: 1.3rem;
  --fs-12: 1.2rem;*/