/******** HEADER *******/
header .header-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    font-size: 1.5rem;
  
    text-align: center;
  }
  
  header .header-options a {
    margin: 0 20px;
  
    text-decoration: none;
    color: #000000;
  }
  
  header .header-options .closebtn {
    display: none;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 32px 3.6% 24px 3.6%;
  }
  
  #nav-drawer {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: #1560A0
  }

/********FOOTER*******/

footer div.footer-options {
    background-color: #525252;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 13.5%;
    padding-right: 7%;
    line-height: 25px;
    width: 100%;
}

footer div.footer-options {
    font-size: 1.5rem;
}

footer {
    width: 100%;
}

div.copyright {
    background-color: #363636;
    color: #ADADAD;
    font-size: 1.4rem;
    padding: 16px;
    text-align: center;
}

p {
    color: #ffffff;
}

footer p.listTitle {
    font-weight: bold;
}

footer p.mb-30 {
    margin-bottom: 30px;
}

footer a {
    text-decoration: none;
    color:#ffffff;
    display: block;
}

.contactInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactInfos img {
    width: 200px;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a#seeAll {
    color: #86B9FF;
    font-style: italic;
}

img#imgGooglePlay {
    height: 46px;
    width: 156px;
}

/******PAGE******/
#benefitsTitle{
    color: #86B9FF;
    font-size: var(--fs-40);
    line-height: 45px;
    width: 37%;
    font-weight: bold;
}

section#benefits{
    background: transparent url('img/Group 579.png') 0% 0% no-repeat border-box;
    background-position: center;
    padding-left: 8.6%;
    padding-top: 6.5%;
}

p#benefitsSubtitle{
    font-size: var(--fs-26);
    line-height: 32px;
    color: #FFFFFF;
}

p#benefitsText{
    color: #86B9FF;
    font-size: var(--fs-22);
    line-height: 27px;
    font-weight: bold;
    width: 35%;
}

section#scheduling{
    padding-top: 4%;
}

p#schedulingTitle{
    text-align: center;
    color: #1560A0;
    font-size: var(--fs-30);
    line-height: 37px;
    font-weight: bold;
}

p#schedulingSubtitle{
    text-align: center;
    font-weight: medium;
    font-size: var(--fs-19);
    line-height: 23px;
    color: #525252;
}

div#responsiveWebsite{
    display: flex;
    padding: 5% 19%;
    padding-top: 0;
}

div#responsiveWebsiteImage{
    flex: 1;
}

#responsiveImage {
    width: 700px;
}

p#responsiveWebsiteTitle{
    color: #16688D;
    font-weight: bold;
    font-size: var(--fs-35);
    line-height: 43px;
}

p#responsiveWebsiteText{
    font-size: var(--fs-20);
    line-height: 24px;
    color: #525252;
}

.mobile-online {
    display: flex;
    flex: 1;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.scheduling-signup {
    font-size: var(--fs-18);
    font-weight: bold;
    color: #ffffff;
    
    padding: 0.8em 0.8em;
    background-color: #9BD30F;
    border-radius: 10px;
    border: none;
}

section#allBenefits{
    background-color: #2B8E91;
    padding-top: 4.5%;
}

p#allBenefitsTitle{
    color: #3CEBF0;
    font-size: var(--fs-35);
    line-height: 43px;
    text-align: center;
}

div#benefitsContainer{
    display: flex;
    gap: 84px;

    padding-left: 12.3%;
    padding-right: 10.5%;
    padding-bottom: 3%;

    margin-top: 5%;
    text-align: center;
}

div#benefitsContainerItem{
    align-items: center;
    text-align: center;
}

p.allBenefitsSubtitle{
    color: #3CEBF0;
    font-size: var(--fs-18);
    font-weight: bold;
    line-height: 22px;
    text-align: center;
}

p.allbenefitsText{
    font-size: var(--fs-14);
    line-height: 18px;
    color: #FFFFFF;
    text-align: center !important;
}

img.allBenefitsImage{
    text-align: center;
}

p#marketingLeftTitle{
    font-size: var(--fs-41);
    line-height: 50px;
    color: #1560A0;
    font-weight: bold;
}

p#marketingLeftSubtitle{
    font-size: var(--fs-18);
    line-height: 26px;
    opacity: 90%;
    color: black;
}

p#marketingLeftText{
    font-size: var(--fs-14);
    line-height: 18px;
    color: black;
}

button#marketingLeftButton{
    border: none;
    border-radius: 10px;
    font-size: var(--fs-16);
    font-weight: bold;
    padding: 1em 3em;
    cursor: pointer;
    color: #FFF;
    background-color: #9BD30F;
}

div#marketingLeft{
    width: 80%;
}

section#marketing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 10.5%
}

section#WinWinSituation{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#WinWinSituationRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p#WinWinSituationTitle{
    padding-top: 5%;
    font-size: var(--fs-35);
    line-height: 43px;
    align-items: center;
    font-weight: bold;
    color: #2B8E91;
}

p#WinWinSituationSubtitle{
    font-size: var(--fs-23);
    line-height: 28px;
    color: #525252;
}

ul#WinWinSituationList{
    font-size: var(--fs-16);
    line-height: 32px;
    color: #525252;
    margin-left: 3%;
}

li.listIcon{
    color: #2B8E91;
}

span.listText{
    color: black;
}

section#freeRegister{
    padding-top: 5%;
    padding-bottom: 5%;
}

div#freeRegisterContent{
    display: flex;
    gap: 50px;
    align-items: center;

    padding: 0 17.5%;
    margin-top: 5%;
}

p#freeRegisterTitle{
    color: #1560A0;
    font-size: var(--fs-41);
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

p#freeRegisterSubtitle{
    font-size: var(--fs-19);
    text-align: center;
    color: #525252;
    line-height: 32px;
}


/*FORMULARIO*/
.form-label {
    font-size: var(--fs-16);
    margin-bottom: 1rem;
}

.costumer-service-form {
    display: flex;
    flex-direction: column;
}
  
.costumer-service-input {
    border: #525252 solid 1px;
    border-radius: 6px;
    
    width: 100%;
  
    font-size: var(--fs-14);
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
}

#DDD {
    width: 15%;
    margin-right: 3%;
}

.costumer-service-btn {
    border: none;
    border-radius: 1rem;
  
    font-size: var(--fs-16);
    font-weight: bold;
  
    display: flex;
    justify-content: center;

    margin-top: 4%;
  
    padding: 1em 1.5em;
  
    cursor: pointer;
    color: #FFF;
    background-color: #9BD30F;
}

#telefone{
    display: flex;
}

div#freeRegisterLeft {
    flex: 1
}

div#freeRegisterRight {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

div.checkbox-container{
    display: flex;
}