<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Augusto Araujo, Wesley Ferreira, Rodrigo Geraldes" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Links para a fonte-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

        <!-- Icons script -->
        <script src="https://kit.fontawesome.com/65d4cbe54c.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="./styles.css" />
        <link rel="stylesheet" type="text/css" href="./media.css" />
        <link rel="stylesheet" type="text/css" href="../../global.css" />
    </head>
    <body>
        <header>
            <div class="logotype">
                <img src="img/logo.svg" alt="Logo tá agendado"/>
            </div>
            <div class="header-options" id="nav-options">
                <a href="#" class="closebtn" onclick="closeNav()"><i class="fa-solid fa-xmark"></i></a>
                <a href="#">PERGUNTE AO ESPECIALISTA</a>
                <a href="#">SEGURANÇA DE DADOS</a>
                <a href="#">CONTATO</a>
                <a href="#">CADASTRE-SE</a>
                <a href="#">LOGIN</a>
            </div>
            <span id="nav-drawer" onclick="openNav()"><i class="fa-solid fa-bars"></i></span>
        </header>
    </body>
    <script>
        const openNav = () => {
            if(window.innerWidth <= 400) {
                document.getElementById("nav-options").style.width = "100%";
            } else {
                document.getElementById("nav-options").style.width = "250px";
            }
        }

        const closeNav = () => {
            document.getElementById("nav-options").style.width = "0px";
        }
    </script>
</html>