/* ============= HEADER ============= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 5%;

  background-color: #1560A0;
  color: #FFF;
}

.search-form {
  display: flex;
  justify-content: space-evenly;

  min-width: 65%;

  min-height: 3rem;
}

.search-input {
  display: block;
  border: none;
  border-radius: 10px;
  
  width: 28%;
  max-height: 5rem;

  font-size: 1.4rem;
  padding: 0 2rem;
  margin: 0 0.2rem;
}

.search-form .radio-label {
  font-size: 1.5rem;
}

.radio-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
}

.btn-search {
  border: none;
  border-radius: 10px;

  font-size: 1.6rem;
  font-weight: bold;

  padding: 1em 3em;

  cursor: pointer;
  color: #FFF;
  background-color: #9BD30F;
}

.user-container {
  display: flex;
  align-items: center;
}

.user-container .user-auth-button {
  text-decoration: none;
  color: #FFF;
  font-size: 1.4rem;
}

.user-container p {
  font-size: 1.4rem;
  margin: 0 0.5rem
}