/* ============= MEDIA QUERIES ============= */

/* FOOTER */
@media (max-width: 1650px) {
  img#imgAppStore {
    width: 130px;
  }
  
  img#imgGooglePlay {
    height: 38px;
    width: 130px;
  }
}
/*-------*/
/*HEADER*/
@media (max-width: 1520px) {
  .search-input {
    font-size: 1.3rem;
  }  
}
@media (max-width: 1475px) {
  .search-input {
    font-size: 1.2rem;
  }  
}
/*------*/

@media (max-width: 1460px) {
  .professional-info-section {
    padding: 2.2% 6% 2.2% 6%;
  }

  .clinic-info-section {
    padding: 2.2% 6% 2.2% 6%;
  }

  /* HEADER */
  .logo {
    width: 200px;
  }

  .header {
    padding: 15px 6%;
  }
}

/* FOOTER */
@media (max-width: 1440px) {
  .aboutUsImgs {
    display: flex;
    flex-direction: column;
  }

  img#imgAppStore {
    margin-top: 5px;
  }
  
  img#imgGooglePlay {
    margin-top: 5px;
  }

  .contactInfos img {
    width: 180px;
  }
}
/*-------*/

@media (max-width: 1350px){
  /* ============= HEADER ============= */
  .search-input {
    font-size: 1.2rem;
  }
}

@media (max-width: 1300px) {
  /* ============= HEADER ============= */
  
  .logo {
    width: 180px;
  }
  
  .search-input {
    padding: 1.4rem 1.4rem;
  }

  .btn-search {
    padding: 1em 1.5em;
  }

  /* ====== BODY ====== */

  body {
    --fs-35: 3rem;
    --fs-24: 2.1rem;
    --fs-16: 1.4rem;
    --fs-14: 1.3rem;
  }

  .form-input {
    padding: 10px 7px;
    margin-top: 5px;
  }

  .ddd-input {
    max-height: 38px;
  }
}

/* ============= HEADER ============= */

/* user-options passa a ser dropdown escondido no icone de usuario */
@media (max-width: 1235px) {
  .header {
    position: relative;
  }

  .user-options {
    position: absolute;
    bottom: -25px;
    right: 30px;

    padding: 5px 5px;
    border-radius: 5px;

    background-color: #1560A0;
  }
}


/*FOOTER*/
@media (max-width: 1150px) {
  .footer-options {
    gap: 10px;
    padding-left: 7%;
  }

  .contactInfos img {
    width: 170px;
  }
}
/*-------*/

@media (max-width: 1100px) {

  /*HEADER*/
  .header {
    padding: 10px 6%;
  }

  .logo {
    width: 150px;
  }
  
  .search-input {
    padding: 12px;
  }

  .radio-input-container {
    min-width: 80px;
  }

  .user-container p {
    font-size: 1.2rem;
  }

  .user-container .user-auth-button {
    font-size: 1.2rem;
  }

  .btn-search {
    font-size: 1.2rem;
  }

  .search-form .radio-label {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  /* .form-group {
    flex-direction: column;
    gap: 0px;

    margin-bottom: 0px;
  }

  .form-label {
    margin-top: 10px;
  } */
  #ufsLabel{
    min-width: auto; 
  }
}


/*HEADER*/
@media (max-width: 1000px) {
  .search-form {
    position: absolute;
    bottom: -50px;

    min-width: 650px;
    left: 50%;
    transform: translate(-50%);

    padding: 8px 0px;
    border-radius: 5px;

    background-color: #1560A0;
  }

  .form-group{
    flex-direction: column;
  }
  #ufsLabel {
    min-width: 20vh;
  }

  body{
    --fs-14: 1.4rem;
    --fs-16: 1.5rem;
    --fs-35: 2.6rem;
  }
  .form-group{
    gap: 20px;
  }
}

@media (max-width: 800px) {
  /* === HEADER === */
  .logo {
    width: 120px;
  }

  .form-group{
    gap: 15px;
  }

  .btn-search, .search-form .radio-label {
    font-size: 1.1rem;
  }

  input[type="radio"] {
    height: 10px;
    width: 10px;
    background-color: #eee;
  }

  .search-input {
    padding: 10px;
    font-size: 1.2rem;
  }

  .search-icon {
    height: 20px;
    width: 20px;
  }

  .person-icon {
    height: 20px;
    width: 20px;
  }

  .user-container .user-auth-button {
    font-size: 1.1rem;
  }
  /* ============ */
  
  #conselhoAfiliado{
    min-width: 142px;
  }

  #numeroConselho{
    margin-right: 50px;
  }

  .conselho{
    gap: 20px;
  }

  #houseNumber{
    max-width: 110px;
  }
  #clinicUF{
    max-width: 110px !important;
  }
  #emailAndPass{
    gap: 20px;
  }
  #registerButton{
    text-align: center;
  }
  .profile-title{
    text-align: center;
  }
  .profile-btn-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
  }
  body{
    --fs-14: 1.3rem;
    --fs-16: 1.4rem;
    --fs-35: 2.4rem;
  }
  #conselhoAfiliado {
    max-width: 20.5vw;
  }
  #numeroConselho {
    margin-right: 15px;
}
}


@media (max-width: 700px) {
  /* === HEADER === */
  .search-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: column;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
    bottom: -90px;

    min-width: 500px;
  }

  .radio-input-container {
    align-items: center;
  }
  /* ========= */
  /*==== FOOTER ====*/

  footer div.footer-options {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .listTitle {
    margin-bottom: 5px;
  }

  .aboutUs {
    row-gap: 35px;
  }

  .aboutUsImgs {
    display: inline;
  }

  img#imgAppStore {
    margin-top: 0;
  }
  
  img#imgGooglePlay {
    margin-top: 0;
  }
  /*-----------*/
}

@media (max-width: 600px){
  .form-group{
    flex-direction: column;
    gap: 25px;
  }
  #numeroConselho{
    margin-right: 20px;
  }
  #conselhoAfiliado{
    min-width: 150px;
  }
  #numeroConselho{
    min-width: 188px;
  }
  #ufs{
    min-width: 110px !important;
  }
  #clinicDistrict{
    min-width: 345px;
  }
  .profile-title{
    text-align: center;
  }
  .profile-btn-container {
    justify-content: space-around;
    max-width: none;
  }
  #registerButton{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #ufsLabel {
    min-width: 15vh;
  }
  #clinicDistrict {
    min-width: 250px;
  }
  .form-group {
    gap: 10px;
    margin-bottom: 10px;
  }

  body {
    --fs-35: 2.4rem;
    --fs-16: 1.3rem;
    --fs-14: 1.2rem;
  }
}

@media (max-width: 550px) {
  .search-form {
    min-width: 350px;
  }
  #conselhoInfo {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  #conselhoAfiliado {
    min-width: 100%;
    max-width: none;
    margin-right: 0;
  }
  #houseNumber{
    max-width: none;
  }
}

@media (max-width: 490px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 20px;
  }

  .listTitle {
    font-size: 1.6rem;
    display: block;
  }

  footer p.mb-30 {
    margin-bottom: 0px;
    row-gap: 20px;
  }

  .pacientOptions, .specialistOptions, .aboutUs, .contactInfos {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  /*-----------*/
}

@media (max-width: 480px){
  #conselhoAfiliado {
    min-width: none;
    margin-right: 0;
  }
  #numeroConselho {
    min-width: 182px;
    margin-right: 0;
  }
  #ufsLabel {
    min-width: 79px !important;
  }
  #clinicDistrict {
    min-width: 235px;
  }
  #conselhoInfo{
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .ddd-input{
    max-width: 55px !important;
  }
  #addressNumber{
    flex-direction: column;
    row-gap: 10px;
  }
  #district{
    flex-direction: column;
    row-gap: 25px;
  }
  #address{
    margin-right: 0 !important;
  }
  #clinicComplement{
    margin-right: 0 !important;
    max-width: none;
  }
  #clinicDistrict {
    min-width: 280px;
  }
  #clinicUF{
    max-width: 85px !important;
  }
  #passAndConfirm{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  #firstPass{
    margin-right: 0 !important;
  }
  #numeroConselho {
    margin-right: 20px;
  }
  body {
    --fs-39: 2.4rem;
    --fs-35: 2.4rem;
    --fs-24: 2rem;
    --fs-23: 2.0rem;
    --fs-20: 1.2rem;
    --fs-16: 1.2rem;
    --fs-15: 1.2rem;
    --fs-14: 1.1rem;
  }
}

@media (max-width: 400px){
  #conselhoAfiliado {
    min-width: 100%;
  }
  #conselhoInfo {
    gap: 10px;
  }
  #clinicCity {
    margin-right: 10px;
  }
  #district{
    gap: 10px;
  }
  .form-btn{
    padding: 1.2em 5em;
  }
  .profile-title{
    font-size: 24px;
  }
  .page-identifier-container{
    margin-bottom: 30px;
  }
  .profile-btn-container label{
    font-size: 12px;
  }
  .professional-form-title, .clinic-form-title{
    margin-top: 5%;
    font-size: 18px;
  }
  .form-label{
    font-size: 12px;
  }
  .form-btn{
    font-size: 12px;
  }
  .ddd-input {
    margin-right: 10px;
    max-height: 35px;
  }
  #numeroConselho{
    margin-right: 10px; 
  }
  #emailAndPass{
    gap: 10px;
  }
  #passAndConfirm{
    gap: 10px;
  }
}

@media (max-width: 390px) {
  .search-form {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    min-width: 300px;
    bottom: -170px;
  }

  .radio-input-container {
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 340px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    font-size: 1.2rem;
  }
  
  .listTitle {
    font-size: 1.4rem;
  }

  img#imgAppStore {
    width: 110px;
  }
  
  img#imgGooglePlay {
    height: 32px;
    width: 110px;
  }

  .contactInfos img {
    width: 150px;
  }
  /*-----------*/

  .form-btn {
    padding: 1.2em 4em;
  }
  /*PADRONIZANDO*/
  .profile-title{
    font-size: 22px;
  }
  .page-identifier{
    font-size: 10px;
  }
  .professional-form-title, .clinic-form-title{
    font-size: 16px;
  }
  .form-input{
    font-size: 10px;
  }
  .checkbox-text{
    font-size: 12px;
  }
}