/* ============= MEDIA QUERIES ============= */

@media (max-width: 1800px) {
    h2.form-main-text{
        text-align: center;
        margin-bottom: 1%;
    }

    .info-stamps-container{
        margin-top: 15%;
    }

}

@media (max-width: 1650px) {
  .stamp-image {
      width: 140px;
      height: 140px;
    }
    
    img#imgAppStore {
      width: 130px;
    }
    
    /*FOOTER*/
    img#imgGooglePlay {
      height: 38px;
      width: 130px;
    }
  }
/*------*/


@media (max-width: 1460px) {
  /* ============= HEADER ============= */
  .logo {
    width: 200px;
  }
  
  .header {
    padding: 15px 6%;
  }
  
  /* ============= MAIN ============= */
  .login-info-container {
    padding: 2.2% 6%;
  }

  .login-form-container {
    padding-right: 6%;
  }
}

/*---------*/

@media (max-width: 1440px) {
  body {
    --fs-39: 3.3rem;
    --fs-35: 3rem;
    --fs-23: 2rem;
    --fs-20: 1.6rem;
    --fs-16: 1.4rem;
  }

    .auth-btn{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .info-stamps-container{
        margin-top: 20%;
    }

    .stamp-image{
        width: 140px;
        height: 140px;
    }

    /*FOOTER*/
    .aboutUsImgs {
        display: flex;
        flex-direction: column;
    }
    
    img#imgAppStore {
        margin-top: 5px;
    }
      
    img#imgGooglePlay {
        margin-top: 5px;
    }
    
    .contactInfos img {
        width: 180px;
    }
    /*-------*/
}

/*HEADER*/
@media (max-width: 1300px) {
    .logo {
      width: 180px;
    }
  
    .search-input {
      padding: 1.4rem 1.4rem;
    }
  
    .btn-search {
      padding: 1em 1.5em;
    }
}

@media (max-width: 1250px) {
  .auth-button-container {
    flex-direction: column;
    align-items: center;
  }

  .auth-btn {
    margin-bottom: 10px;
    min-width: 215px;
    max-width: 300px;
    min-height: 40  px;

    /* padding: 10px 10px */
  }


  .google-icon {
    margin-right: 10px;
    height: 25px;
    width: 25px;
  }
}

/* user-options passa a ser dropdown escondido no icone de usuario */
@media (max-width: 1235px) {
    .header {
      position: relative;
    }
  
    .user-options {
      position: absolute;
      bottom: -25px;
      right: 30px;
  
      padding: 5px 5px;
      border-radius: 5px;
  
      background-color: #1560A0;
    }

    
  }
/*-----*/

/*FOOTER*/
@media (max-width: 1150px) {
    footer div.footer-options{
      gap: 10px;
      padding-left: 10%;
    }
  
    .contactInfos img {
      width: 170px;
    }

  }
/*------*/

/*HEADER*/
@media (max-width: 1100px) {
    .header {
      padding: 10px 6%;
    }
  
    .logo {
      width: 150px;
    }
    
    .search-input {
      padding: 12px;
    }
  
    .radio-input-container {
      min-width: 80px;
    }
  
    .user-container p {
      font-size: 1.2rem;
    }
  
    .user-container .user-auth-button {
      font-size: 1.2rem;
    }
  
    .btn-search {
      font-size: 1.2rem;
    }
  
    .search-form .radio-label {
      font-size: 1.2rem;
    }

    /* ===== MAIN ===== */
    body {
      --fs-39: 3.2rem;
      --fs-35: 2.9rem;
      --fs-23: 1.9rem;
      --fs-20: 1.5rem;
    }

    .stamp-image{
          height: 130px;
          width: 130px;
      }
  }
  /*----*/

@media (max-width: 1024px) {
    body {
      --fs-39: 3rem;
      --fs-35: 2.8rem;
      --fs-23: 1.8rem;
      --fs-20: 1.4rem;
    }

    .stamp-image{
        height: 120px;
        width: 120px;
    }
}

/*HEADER*/
/* search-form passa a ser dropdown escondido no icone de pesquisa */
@media (max-width: 1000px) {
    .search-form {
      position: absolute;
      bottom: -50px;
  
      min-width: 650px;
      left: 50%;
      transform: translate(-50%);
  
      padding: 8px 0px;
      border-radius: 5px;
  
      background-color: #1560A0;
    }
  }
  
  @media (max-width: 800px) {
    .logo {
      width: 120px;
    }
  }
/*---------*/
/*RESPONSIVO MOBILE*/
@media only screen and (max-width: 601px){
  .main{
    flex-direction: column;
  }
  .login-info-container {
    max-width: 100%;
  }
  .login-form-container {
    width: 100%;
  }
  .auth-button-container {
    flex-direction: row;
  }
  .facebook-btn{
    height: 47.35px;
  }
  .info-stamps-container{
    margin-top: 10%;
  }
}