/* ============= HEADER ============= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px 10.5%;

  background-color: #1560A0;
  color: #FFF;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;

  margin: 0 10px;
}

.search-input {
  border: none;
  border-radius: 10px;
  flex: 1;

  font-size: 1.4rem;
  padding: 1.6rem 2rem;
  margin: 0 8px;
}

.search-form .radio-label {
  font-size: 1.5rem;
}

.radio-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 100px;
}

.btn-search {
  border: none;
  border-radius: 10px;

  font-size: 1.4rem;
  font-weight: bold;

  padding: 1em 2em;
  margin: 0 10px;

  cursor: pointer;
  color: #FFF;
  background-color: #9BD30F;
}

.user-container {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 25px;
  height: 25px;
  color: #FFF;

  margin: 0 5px;
  
  cursor: pointer;
}

.person-icon {
  width: 25px;
  height: 25px;
  color: #FFF;

  margin: 0 5px;

  cursor: pointer;
}

.user-options {
  display: flex;
  align-items: center;
}

.user-container .user-auth-button {
  text-decoration: none;
  color: #FFF;
  font-size: 1.4rem;
}

.user-container p {
  font-size: 1.4rem;
  margin: 0 0.5rem
}

.dont-show {
  display: none !important;
}

/* ============= MAIN ============= */

.main {
  display: flex;
  justify-content: space-between;
}

.page-identifier {
  color: #8D8D8D;
  font-size: var(--fs-16);
  font-weight: 500;
}

/* ============= LEFT INFO ============= */

.login-info-container {
  padding: 2.2% 10.5%;
  background-color: #F4F4F4;
  max-width: 55%;
}

/* ============= TOP LEFT TEXT ============= */

.info-text-container {
  margin-top: 4%;
}

.info-main-text {
  font-size: var(--fs-39);
  font-weight: bold;
  line-height: 43px;
  color: #2B8E91;
}

.info-sub-text {
  font-size: var(--fs-23);
  font-weight: 500;
  margin-top: 1%;
  color: #525252;
}

/* ============= BOTTOM LEFT STAMPS ============= */

.info-stamps-container {
  display: flex;
  justify-content: space-between;

  margin-top: 20%;
}

.agendamento-stamp-container, .horario-stamp-container, .reserva-stamp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stamp-image {
  height: 167px;
  width: 167px;
}

.stamp-text {
  font-size: var(--fs-20);
  font-weight: bold;
  color: #2B8E91;
  
  max-width: 15ch;
  margin-top: 2rem;
  text-align: center;
}

/* ============= RIGHT LOGIN FORM ============= */

.login-form-container {
  margin-left: 3.8%;
  padding-right: 10.5%;
  padding-bottom: 4.5%;
  width: 50%;
}

/* ============= FORM TITLE ============= */

.form-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 9vh;
}

.form-main-text {
  font-size: var(--fs-35);
  font-weight: bold;
  color: #000000;
}

.form-sub-text {
  font-size: var(--fs-14);
  font-weight: 500;
  color: #525252;
}

/* ============= FORM ============= */

.login-form {
  margin-top: 3.5rem;
}

.login-input-container {
  margin-bottom: 2.5rem;
}

.login-form-label, .login-form-input {
  display: block;
}

.login-form-label {
  font-size: var(--fs-16);
  font-weight: 500;
  color: #000000;
}

.login-form-input {
  font-size: var(--fs-14);
  padding: 2.5% 1.5%;
  margin-top: 5px;
  width: 100%;

  min-height: 35px;

  border: solid 1px #525252;
  border-radius: 6px;
}

.login-form-btn {
  border: none;
  border-radius: 1rem;
  font-size: var(--fs-20);
  font-weight: bold;
  color: #FFF;
  background-color: #2B8E91;
  cursor: pointer;

  padding: 0.7em 0;
  width: 100%;
}

/* ============= CHECKBOX CONTAINER ============= */

.underbutton-container {
  display: flex;
  justify-content: space-between;

  margin: 1.5rem 1rem 0 1rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.login-form-checkbox {
  margin-right: 5px;
}

.checkbox-text, .forgot-password {
  font-size: var(--fs-16);
  font-weight: 500;
  color: #525252;
}

.auth-signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 8%;
}

/* ============= SIGN UP LINE ============= */

.signup-text {
  font-size: var(--fs-15);
  font-weight: 500;
  color: #525252;
}

.signup-link {
  font-size: var(--fs-15);
  font-weight: 500;
  color: #525252;
}

/* ============= FACEBOOK AND GOOGLE AUTH ============= */

.auth-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-top: 8%;
}

.auth-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  flex: 1;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;

  margin: 0 1rem;

  padding-top: 1%;
  padding-bottom: 1%;
}

.auth-btn-text {
  font-size: var(--fs-14);
  font-weight: 500;
}

.facebook-btn {
  background-color: #3F51B5;
}

.fb-icon {
  font-size: 20px;
}

.google-btn {
  background-color: #4c87ef;
}

.google-icon {
  background-color: #FFF;
  border-radius: 3px;
  height: 30px;
  width: 30px;
}

/* ============= FOOTER ============= */
.footer-options {
  background-color: #525252;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 13.5%;
  padding-right: 7%;
  line-height: 25px;
  font-size: 15px;
  width: 100%;
}

footer {
  width: 100%;
}

div.copyright {
  background-color: #363636;
  color: #ADADAD;
  font-size: 14px;
  padding: 16px;
  text-align: center;
}

p {
  color: #ffffff;
}

footer p.listTitle {
  font-weight: bold;
}

footer p.mb-30 {
  margin-bottom: 30px;
}

footer a {
  text-decoration: none;
  color:#ffffff;
  display: block;
}

.contactInfos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactInfos img {
  width: 200px;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a#seeAll {
  color: #86B9FF;
  font-style: italic;
}
img#imgGooglePlay {
  height: 46px;
  width: 156px;
}
