/* ============= MEDIA QUERIES ============= */

@media (max-width: 1800px) {


  .search {
    max-width: 70%;
  }

  section#newProfessionals {
    padding: 2% 10% 0 7%;
  }

  #newProfessionalsPic {
    max-width: 700px;
  }
}

@media (max-width: 1640px) {
  #medicalGroup {
    max-width: 550px;
  }
}

@media (max-width: 1440px) {
  body {
    --fs-40: 3.5rem;
    --fs-38: 3.2rem;
    --fs-21: 2rem;
    --fs-24: 2.1rem;
    --fs-18: 1.6rem;
  }

  header {
    padding: 20px 1% 15px 1%;
  }

  #medicalGroup {
    position: absolute;
    right: 30px;
    width: 530px;
  }

  section#sectionSearch {
    padding: 4% 3%
  }

  section#sectionSearch ul li{
    color: #ffffff;
    display: block;
  }

  section#sectionSearch ul{
      display: block;
      margin: 10px 0 30px 10px;
  }

  .search {
    max-width: 70%;
  }

  /* ============= MEDICAL SPECIALTIES ============= */

  div.specialties{
    padding: 0 10%;
  }

  /* ============= SCHEDULING TUTORIAL ============= */
  
  section#schedulingTutorial{
    padding: 0 10%;
  }
  
  .schedulingTutorialTitle {
    margin-bottom: 10px;
  }

  .schedulingImage img {
    width: 500px;
  }

  /* ============= SPECIALTIES DETAILS ============= */

  section#specialtiesDetails{
    gap: 5%;
    padding: 0 10%;
    padding-bottom: 5%;
    flex-wrap: wrap;
  }

  .selectedSpecialties img {
    width: 250px;
  }

  /* ============= SOME SPECIALTIES ============= */

  section#someSpecialties{
    padding: 2% 10%;
  }

  /* ============= ONLINE SCHEDULING ============= */

  #onlineScheduling {
    padding: 2% 10%;
  }

  /* ============= NEW PROFESSIONALS ============= */

  section#newProfessionals{
    padding: 4% 10% 0 7%;
  }

  #newProfessionalsPic {
    max-width: 750px;
  }

  #newProfessionalsText {
    max-width: 40%;
  }


  /* ============= TESTIMONIAL ============= */

  .hide {
    display: none;
  }
}

@media (max-width: 1366px) {
  body {
    --fs-40: 3.2rem;
    --fs-38: 2.9rem;
    --fs-28: 2.4rem;
    --fs-24: 1.9rem;
    --fs-21: 1.7rem;
    --fs-19: 1.7rem;
    --fs-18: 1.6rem;
    --fs-16: 1.5rem;
    --fs-14: 1.3rem;
  }

  .search {
    max-width: 70%;
  }

  #medicalGroup {
    position: absolute;
    right: 30px;
    width: 480px;
  }

  .benefits img {
    width: 140px;
  }

  section#schedulingTutorial{
    padding: 2% 10%;
  }

  section#schedulingTutorial img {
    width: 450px;
  }

  #specialtiesList {
    gap: 3%;
  }

  div.selectedSpecialties {
    padding: 15px 20px;
    gap: 10px
  }

  .selectedSpecialties img {
    width: 225px;
    height: 225px;
  }

  #specialtiesListLeft {
    width: 55%;
  }

  #specialtiesListRight {
    width: 45%;
  }

  #someSpecialties img {
    width: 490px;
  }

  #appPicture img {
    width: 500px;
  }
  
  #newProfessionals {
    padding-top: 0;
    flex-direction: column;
    align-items: center;
  }

  #newProfessionalsPic {
    width: 620px;
  }

  h2#newProfessionalsTitle{
    /* margin-left: 0; */
    align-self: center;
  }
  
  #newProfessionalsText {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  
  #newProfessionalsText p {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 1240px) {
  #medicalGroup {
    width: 450px;
  }

  .benefits img {
    width: 125px;
  }

  #newProfessionalsPic {
    width: 590px;
  }
}

@media (max-width: 1120px) {
  body {
    --fs-40: 2.8rem;
    --fs-21: 1.5rem;
    --fs-15: 1.4rem;
  }

  section#sectionSearch form .search-input {
    padding: 15px 15px;
  }

  .search h2 {
    width: 90%;
  }

  .buttonZone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0
  }

  .buttonSpecialties {
    width: 200px;
  }

  #onlineScheduling img {
    max-width: 450px;
  }

  .appDownloadButton {
    width: 135px;
    height: 40px;
  }

  .onlineSchedulingP {
    margin-bottom: 10px;
  }

  div.selectedSpecialties {
    max-width: 320px;
  }

  #schedulingTutorial {
    align-items: center;
  }

  #schedulingTutorial img {
    width: 450px;
  }

  #someSpecialties img {
    width: 450px;
  }

  div#medicalGroup2 {
    display: flex;
    align-items: center;
  }

  div#medicalGroup2 img {
    width: 430px;
  }

  div#appPicture {
    display: flex;
    align-items: center;
  }

  div#appPicture img {
    width: 400px;
  }

  #newProfessionalsPic {
    width: 565px;
  }
}

@media (max-width: 1024px) {
  .logotype img {
    width: 200px;
  }

  #medicalGroup {
    width: 420px;
  }

  div.specialties{
    padding: 0 7%;
  }

  #newProfessionalsPic {
    width: 540px;
  }
}