/* ============= MEDIA QUERIES ============= */

@media (max-width: 1800px) {
  .search {
    max-width: 70%;
  }

  section#newProfessionals {
    padding: 2% 10% 0 7%;
  }

  #newProfessionalsPic {
    max-width: 700px;
  }
}

@media (max-width: 1640px) {
  #medicalGroup {
    max-width: 550px;
  }
}

/*FOOTER*/
@media (max-width: 1650px) {
  img#imgAppStore {
    width: 130px;
  }
  
  img#imgGooglePlay {
    height: 38px;
    width: 130px;
  }
}
/*-----*/

@media (max-width: 1600px) {
  header {
    padding: 15px 3% 15px 3%;
  }

  header .header-options {
    font-size: 1.4rem;
  }

  .logotype img {
    width: 230px;
  }
}

@media (max-width: 1440px) {
  body {
    --fs-40: 3.5rem;
    --fs-38: 3.2rem;
    --fs-21: 2rem;
    --fs-24: 2.1rem;
    --fs-18: 1.6rem;
  }

  #medicalGroup {
    position: absolute;
    right: 30px;
    width: 530px;
  }

  section#sectionSearch {
    padding: 4% 3%
  }

  section#sectionSearch ul li{
    color: #ffffff;
    display: block;
  }

  section#sectionSearch ul{
      display: block;
      margin: 10px 0 30px 10px;
  }

  
  /* ============= MEDICAL SPECIALTIES ============= */

  div.specialties{
    padding: 0 10%;
  }

  /* ============= SCHEDULING TUTORIAL ============= */
  
  section#schedulingTutorial{
    padding: 0 10%;
  }
  
  .schedulingTutorialTitle {
    margin-bottom: 10px;
  }

  .schedulingImage img {
    width: 500px;
  }

  /* ============= SPECIALTIES DETAILS ============= */

  section#specialtiesDetails{
    gap: 5%;
    padding: 0 10%;
    padding-bottom: 5%;
    flex-wrap: wrap;
  }

  .selectedSpecialties img {
    width: 250px;
  }

  /* ============= SOME SPECIALTIES ============= */

  section#someSpecialties{
    padding: 2% 10%;
  }

  /* ============= ONLINE SCHEDULING ============= */

  #onlineScheduling {
    padding: 2% 10%;
  }

  /* ============= NEW PROFESSIONALS ============= */

  section#newProfessionals{
    padding: 4% 10% 0 7%;
  }

  #newProfessionalsPic {
    max-width: 750px;
  }

  #newProfessionalsText {
    max-width: 40%;
  }


  /* ============= TESTIMONIAL ============= */

  .hide {
    display: none;
  }

  /*FOOTER*/
  .aboutUsImgs {
    display: flex;
    flex-direction: column;
  }

  img#imgAppStore {
    margin-top: 5px;
  }
  
  img#imgGooglePlay {
    margin-top: 5px;
  }

  .contactInfos img {
    width: 180px;
  }
  /*--------*/
}

/*HEADER*/
@media (max-width: 1370px) {
  header .header-options {
    font-size: 1.3rem;
  }

  header {
    padding: 10px 3% 10px 3%;
  }

  .logotype img {
    width: 200px;
  }
}
/*----*/

@media (max-width: 1366px) {
  body {
    --fs-40: 3.2rem;
    --fs-38: 2.9rem;
    --fs-28: 2.4rem;
    --fs-24: 1.9rem;
    --fs-21: 1.7rem;
    --fs-19: 1.7rem;
    --fs-18: 1.6rem;
    --fs-16: 1.5rem;
    --fs-14: 1.3rem;
  }

  div.options {
    font-size: 1.3rem;
  }

  header {
    padding: 10px 3% 10px 3%;
  }

  .logotype img {
    width: 200px;
  }

  .search {
    max-width: 70%;
  }

  #medicalGroup {
    position: absolute;
    right: 30px;
    width: 480px;
  }

  .benefits img {
    width: 140px;
  }

  section#schedulingTutorial{
    padding: 2% 10%;
  }

  section#schedulingTutorial img {
    width: 450px;
  }

  #specialtiesList {
    gap: 3%;
  }

  div.selectedSpecialties {
    padding: 15px 20px;
    gap: 10px
  }

  .selectedSpecialties img {
    width: 225px;
    height: 225px;
  }

  #specialtiesListLeft {
    width: 55%;
  }

  #specialtiesListRight {
    width: 45%;
  }

  #someSpecialties img {
    width: 490px;
  }

  #appPicture img {
    width: 500px;
  }
  
  #newProfessionals {
    padding-top: 0;
    flex-direction: column;
    align-items: center;
  }

  #newProfessionalsPic {
    width: 620px;
  }

  h2#newProfessionalsTitle{
    /* margin-left: 0; */
    align-self: center;
  }
  
  #newProfessionalsText {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  
  #newProfessionalsText p {
    text-align: center;
    margin-left: 0;
  }

  #testimonials {
    gap: 60px
  }
}

@media (max-width: 1200px) {
  header .header-options {
    font-size: 1.2rem;
  }

  .logotype img {
    width: 170px;
  }
}

@media (max-width: 1240px) {
  #medicalGroup {
    width: 450px;
  }

  .benefits img {
    width: 125px;
  }

  #newProfessionalsPic {
    width: 590px;
  }
}

/*HEADER*/
@media (max-width: 1150px) {
  footer div.footer-options{
    gap: 10px;
    padding-left: 7%;
  }

  .contactInfos img {
    width: 170px;
  }
}
/*-----*/

@media (max-width: 1120px) {
  body {
    --fs-40: 2.8rem;
    --fs-21: 1.5rem;
    --fs-15: 1.4rem;
  }

  .logotype img {
    width: 150px;
  }

  section#sectionSearch form .search-input {
    padding: 15px 15px;
  }

  .search h2 {
    width: 90%;
  }

  .buttonZone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0
  }

  #medicalGroup {
    width: 400px;
  }

  .buttonSpecialties {
    width: 200px;
  }

  #onlineScheduling img {
    max-width: 450px;
  }

  .appDownloadButton {
    width: 135px;
    height: 40px;
  }

  .onlineSchedulingP {
    margin-bottom: 10px;
  }

  div.selectedSpecialties {
    max-width: 320px;
  }

  #schedulingTutorial {
    align-items: center;
  }

  #schedulingTutorial img {
    width: 450px;
  }

  #someSpecialties img {
    width: 450px;
  }

  div#medicalGroup2 {
    display: flex;
    align-items: center;
  }

  div#medicalGroup2 img {
    width: 430px;
  }

  div#appPicture {
    display: flex;
    align-items: center;
  }

  div#appPicture img {
    width: 400px;
  }

  #newProfessionalsPic {
    width: 565px;
  }
}

/*HEADER*/
@media (max-width: 1100px) {
  .logotype img {
    width: 150px;
  }
}
/*------*/

@media (max-width: 1024px) {
  div.specialties{
    padding: 0 7%;
  }

  #newProfessionalsPic {
    width: 540px;
  }
}

@media (max-width: 1000px) {
  /* === HEADER === */
  #nav-drawer {
    display: inline;
  }

  header .header-options {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #1560A0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    display: inline-block;
    text-align: right;
  }
  
  header .header-options a {
    padding: 10px 0;
    text-decoration: none;
    transition: 0.3s;
    display: block;
    color: #FFF;
  }
  
  header .header-options .closebtn {
    display: inline;
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 26px;
    margin-right: 0px;
    margin-left: 15px;
  }
}

/*MOBILE - DEUS ABENÇOE*/
@media (max-width: 960px){
  body {
    --fs-40: 2.5rem;
    --fs-18: 1.5rem;
    --fs-16: 1.3rem;
  }

  section#sectionSearch form .search-input {
    padding: 10px 10px;
  }

  #medicalGroup {
    width: 350px;
  }

  button.buttonSpecialties {
    padding: 1em 0.8em;
  }

  div.specialties {
    padding: 0% 5%
  }

  div.benefitsContainer {
    padding-left: 10%;
    padding-right: 10%;
  }

  .benefits img {
    width: 110px;
  }

  div#medicalGroup2 img{
    width: 390px;
  }

  div#appPicture img{
    width: 360px;
  }

  img#newProfessionalsPic{
    width: 480px;
  }

  #testimonial {
    padding: 4% 6%;
  }
}

@media (max-width: 890px) {
  section#sectionSearch form {
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    width: 85%;
  }

  section#sectionSearch form .radio-input-container {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0;
  }
  
  section#sectionSearch form .search-input {
    width: 100%;
    border: solid 1px rgb(194, 194, 194);
    margin: 0;
  }
  
  #submitButton{
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 801px){
  div.benefitsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
  div.benefits {
    width: 100%;
  }
  section#schedulingTutorial{
    flex-direction: column-reverse;
  }
  div.schedulingTutorialContent{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    align-items: center;
  }
  p.schedulingTutorialText{
    margin-bottom: 30px;
  }
  button.schedulingButton{
    margin-bottom: 20px;
  }
  section#someSpecialties{
    flex-direction: column;
    align-items: center;
  }
  section#schedulingTutorial img{
    width: 300px;
  }
  div#allSpecialtiesTitleAndSub{
    text-align: center;
  }
  .mobileHide{
    display: none;
  }

  div#appPicture img{
    width: 320px;
  }

  .testimonial-card {
    max-width: 400px;
  }

  .testimonial-picture img {
    max-height: 130px
  }

  body {
    --fs-14: 1.4rem;
    --fs-15: 1.5rem;
    --fs-16: 1.5rem;
    --fs-17: 1.6rem;
    --fs-38: 2.4rem;
  }
}

@media (max-width: 700px) {
  div#medicalGroup2 img{
    width: 300px;
  }

  div#appPicture img{
    width: 300px;
  }

  #onlineScheduling{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  div.appButtonsContainer{
    justify-content: center;
  }

  /*==== FOOTER ====*/
  footer div.footer-options {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .listTitle {
    margin-bottom: 5px;
  }

  .aboutUs {
    row-gap: 35px;
  }

  .aboutUsImgs {
    display: inline;
  }

  img#imgAppStore {
    margin-top: 0;
  }
  
  img#imgGooglePlay {
    margin-top: 0;
  }
  /*-------------*/
}

@media (max-width: 601px){
  /* === HEADER === */
  .logotype img {
    width: 130px;
  }

  /* === BODY === */
  body {
    --fs-40: 2.5rem;
    --fs-38: 2.4rem;
    --fs-28: 2.2rem;
    --fs-21: 1.3rem;
    --fs-18: 1.4rem;
    --fs-17: 1.7rem;
    --fs-16: 1.3rem;
    --fs-15: 1.3rem;
    --fs-14: 1.3rem;
  }

  img#newProfessionalsPic{
    width: 400px;
  }

  .selectedSpecialties img {
    width: 200px;
    height: 200px;
  }

  #onlineSchedulingText{
    margin: 5% 0;
    padding: 0;
  }

  h2#newProfessionalsTitle {
    text-align: center;
    margin-bottom: 10px;
    line-height: 30px;
  }

  /*Primeira parte*/
  #medicalGroup {
    display: none
  }
  
  .search {
    max-width: 100%;
  }

  .search h2 {
    width: 100%;
  }
}

@media (max-width: 490px) {
  /*==== FOOTER ====*/
  footer div.footer-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 20px;
  }

  .listTitle {
    font-size: 1.6rem;
    display: block;
  }

  footer p.mb-30 {
    margin-bottom: 0px;
    row-gap: 20px;
  }

  .pacientOptions, .specialistOptions, .aboutUs, .contactInfos {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  /*-------------*/
}

@media (max-width: 481px){
  /* === Header === */
  .logotype img {
    width: 115px;
  }

  #nav-drawer {
    font-size: 2rem;
  }

  header .header-options {
    font-size: 1.1rem;
  }

  /* === BODY === */
  body {
    --fs-40: 2.4rem;
    --fs-38: 2.4rem;
    --fs-28: 2.0rem;
    --fs-24: 1.6rem;
    --fs-21: 1.3rem;
    --fs-20: 1.4rem;
    --fs-19: 1.3rem;
    --fs-18: 1.3rem;
    --fs-17: 1.4rem;
    --fs-16: 1.2rem;
    --fs-15: 1.2rem;
    --fs-14: 1.2rem;
  }

  section#sectionSearch form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  section#sectionSearch ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .search {
    width: 100%;
    text-align: center;
  }

  .buttonSpecialties{
    width: 175px;
  }

  div.benefitsContainer{
    margin-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    gap: 15px;
  }

  .benefits img {
    width: 85px;
  }

  section#schedulingTutorial img{
    width: 230px;
  }

  div.selectedSpecialties {
    padding: 10px 15px;
  }

  .selectedSpecialties img {
    width: 150px;
    height: 150px;
  }

  section#schedulingTutorial img{
    width: 230px;
  }

  div#medicalGroup2 img{
    width: 250px;
  }

  div#appPicture img{
    width: 250px;
  }

  .appDownloadButton {
    width: 100px;
    height: 30px;
  }

  img#newProfessionalsPic{
    width: 300px;
  }

  .testimonial-card {
    max-width: 330px;
    max-height: 250px;
  }

  .testimonial-picture, .testimonial-picture img {
    max-height: 100px;
    max-width: 100px;
  }

  .rating-star {
    width: 20px;
  }
}

@media (max-width: 400px) {
  /* === HEADER === */
  header .header-options {
    font-size: 1.3rem;
    text-align: center;
  }
}

@media (max-width: 340px) {
  /*==== BODY ====*/
  .testimonial-card {
    max-width: 300px;
    max-height: 240px;
  }
  
  /*==== FOOTER ====*/

  footer div.footer-options {
    font-size: 1.2rem;
  }
  
  .listTitle {
    font-size: 1.4rem;
  }

  img#imgAppStore {
    width: 110px;
  }
  
  img#imgGooglePlay {
    height: 32px;
    width: 110px;
  }

  .contactInfos img {
    width: 150px;
  }

  /*PADRONIZANDO*/
  button.schedulingButton, .schedulingSpecialties{
    font-size: 12px;
  }
  /*-------------*/
}