/* ============= MEDIA QUERIES ============= */

@media (max-width: 1800px) {
    h2.form-main-text{
        text-align: center;
        margin-bottom: 1%;
    }

    .info-stamps-container{
        margin-top: 15%;
    }

}

@media (max-width: 1650px) {
  .stamp-image {
    width: 140px;
    height: 140px;
  }

  /*FOOTER*/
    img#imgAppStore {
      width: 130px;
    }
    
    img#imgGooglePlay {
      height: 38px;
      width: 130px;
    }
}
/*-----*/

/*HEADER*/
@media (max-width: 1520px) {
  .search-input {
    font-size: 1.3rem;
  }  
}

@media (max-width: 1475px) {
  .search-input {
    font-size: 1.2rem;
  }  
}

@media (max-width: 1460px) {
  .logo {
    width: 200px;
  }

  .header {
    padding: 15px 6%;
  }

  .login-info-container {
    padding: 2.2% 6%;
  }

  .login-form-container {
    padding-right: 6%;
  }
}
/*----*/

@media (max-width: 1440px) {
    body {
      --fs-39: 3.3rem;
      --fs-35: 3rem;
      --fs-23: 2rem;
      --fs-20: 1.6rem;
      --fs-16: 1.4rem;
    }

    .auth-btn{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .stamp-image{
        width: 140px;
        height: 140px;
    }

    /*FOOTER*/
    .aboutUsImgs {
        display: flex;
        flex-direction: column;
      }
    
      img#imgAppStore {
        margin-top: 5px;
      }
      
      img#imgGooglePlay {
        margin-top: 5px;
      }
    
      .contactInfos img {
        width: 180px;
      }
      /*-----*/
}

@media (max-width: 1360px) {
    body {
      --fs-16: 1.2rem;
    }

    .checkbox-text{
        text-align: center;
    }

    .forgot-password{
        text-align: center;
    }
}

/*HEADER*/
@media (max-width: 1350px){
  .search-input {
    font-size: 1.2rem;
  }
}

@media (max-width: 1300px) {
    .logo {
      width: 180px;
    }
  
    .search-input {
      padding: 1.4rem 1.4rem;
    }
  
    .btn-search {
      padding: 1em 1.5em;
    }
  }
  /* user-options passa a ser dropdown escondido no icone de usuario */
@media (max-width: 1235px) {
    .header {
      position: relative;
    }
  
    .user-options {
      position: absolute;
      bottom: -25px;
      right: 30px;
  
      padding: 5px 5px;
      border-radius: 5px;
  
      background-color: #1560A0;
    }

    .signup-container{
      text-align: right;
    }
  }
/*------*/

/*FOOTER*/
@media (max-width: 1150px) {
    footer div.footer-options{
      gap: 10px;
      padding-left: 7%;
    }
  
    .contactInfos img {
      width: 170px;
    }
  }
/*-------*/

@media (max-width: 1140px) {
    .signup-container{
        width: 61%;
        align-items: flex-end;
        margin-left: 40%;
        text-align: right;
    }
}

@media (max-width: 1100px) {
    /*HEADER*/
    .header {
        padding: 10px 6%;
      }
    
      .logo {
        width: 150px;
      }
      
      .search-input {
        padding: 12px;
      }
    
      .radio-input-container {
        min-width: 80px;
      }
    
      .user-container p {
        font-size: 1.2rem;
      }
    
      .user-container .user-auth-button {
        font-size: 1.2rem;
      }
    
      .btn-search {
        font-size: 1.2rem;
      }
    
      .search-form .radio-label {
        font-size: 1.2rem;
      }

      /*--- MAIN ----*/

      body {
        --fs-39: 3.2rem;
        --fs-35: 2.9rem;
        --fs-23: 1.9rem;
        --fs-20: 1.5rem;
      }

      .stamp-image{
          height: 130px;
          width: 130px;
      }
}

@media (max-width: 1024px) {
    body {
      --fs-39: 3rem;
      --fs-35: 2.8rem;
      --fs-23: 1.8rem;
      --fs-20: 1.4rem;
    }
    
    .stamp-image{
        height: 120px;
        width: 120px;
    }
}

/*HEADER*/
/* search-form passa a ser dropdown escondido no icone de pesquisa */
@media (max-width: 1000px) {
    .search-form {
      position: absolute;
      bottom: -50px;
  
      min-width: 650px;
      left: 50%;
      transform: translate(-50%);
  
      padding: 8px 0px;
      border-radius: 5px;
  
      background-color: #1560A0;
    }
  }
  
  @media (max-width: 800px) {
    .logo {
      width: 120px;
    }

    .btn-search, .search-form .radio-label {
      font-size: 1.1rem;
    }
  
    input[type="radio"] {
      height: 10px;
      width: 10px;
      background-color: #eee;
    }
  
    .search-input {
      padding: 10px;
      font-size: 1.2rem;
    }
  
    .search-icon {
      height: 20px;
      width: 20px;
    }
  
    .person-icon {
      height: 20px;
      width: 20px;
    }
  
    .user-container .user-auth-button {
      font-size: 1.1rem;
    }
  }

 @media (max-width: 770px){
  .stamp-image {
    height: 100px;
    width: 100px;
  }
} 

/*RESPONSIVO MOBILE*/
@media (max-width: 700px) {
  /*==== Headers ====*/
  .search-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: column;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
    bottom: -90px;

    min-width: 500px;
  }

  .radio-input-container {
    align-items: center;
  }

  /*==== FOOTER ====*/

  footer div.footer-options {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .listTitle {
    margin-bottom: 5px;
  }

  .aboutUs {
    row-gap: 35px;
  }

  .aboutUsImgs {
    display: inline;
  }

  img#imgAppStore {
    margin-top: 0;
  }
  
  img#imgGooglePlay {
    margin-top: 0;
  }
  /*-------------*/
}

@media only screen and (max-width: 601px){
  body {
    --fs-14: 1rem
  }

  .main{
    flex-direction: column;
  }
  .login-info-container {
    max-width: 100%;
  }
  .login-form-container {
    width: 100%;
  }
  .auth-button-container {
    flex-direction: row;
  }
  .facebook-btn{
    height: 47.35px;
  }
  .info-stamps-container{
    margin-top: 10%;
  }
  .info-main-text{
    font-size: 24px;
    text-align: center;
    line-height: 32px;
  }
  .info-sub-text{
    text-align: center;
    font-size: 16px;
  }
  .signup-container {
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 0%;
  }
  
  .form-main-text {
      font-size: 22px;
  }

  .form-title-container {
    margin-top: 2vh;
  }

  .login-form-container {
    padding-right: 5%;
    padding-left: 5%;
    margin-left: 0;
  }

  .login-info-container{
    padding-top: 4%;
  }
  h2.form-main-text{
    font-size: 16px;
  }
  .form-sub-text{
    text-align: center;
  }
}

@media (max-width: 550px) {
  .search-form {
    min-width: 350px;
  }
}

@media (max-width: 490px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 20px;
  }

  .listTitle {
    font-size: 1.6rem;
    display: block;
  }

  footer p.mb-30 {
    margin-bottom: 0px;
    row-gap: 20px;
  }

  .pacientOptions, .specialistOptions, .aboutUs, .contactInfos {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  /*-------------*/
  .stamp-image {
    height: 100px;
    width: 100px;
  }
  .login-form {
    margin-top: 5%;
  }
}

@media (max-width: 390px) {
  .search-form {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    min-width: 300px;
    bottom: -170px;
  }

  .radio-input-container {
    flex-direction: row;
    gap: 20px;
  }
  .stamp-image {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 340px) {
  /*==== FOOTER ====*/

  footer div.footer-options {
    font-size: 1.2rem;
  }
  
  .listTitle {
    font-size: 1.4rem;
  }

  img#imgAppStore {
    width: 110px;
  }
  
  img#imgGooglePlay {
    height: 32px;
    width: 110px;
  }

  .contactInfos img {
    width: 150px;
  }
  /*-------------*/
  .stamp-image {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 321px){
  .info-main-text{
    font-size: 16px;
    text-align: center;
    line-height: 23px;
  }
  .info-sub-text, .form-sub-text{
    font-size: 12px;
    text-align: center;
  }
  .stamp-image {
    width: 64px;
    height: 64px;
  }
  .stamp-text{
    margin-top: 1rem;
    font-size: 12px;
  }
  .stamps-container{
    margin-bottom: 3%;
  }
  .auth-button-container {
    flex-direction: column;
  }
  /*PADRONIZANDO*/
  .info-main-text{
    font-size: 22px;
  }
  .info-sub-text{
    font-size: 14px;
  }
  .login-form-btn{
    font-size: 12px;
  }
  .signup-text{
    font-size: 12px;
  }
}